##
#   After Updating with your configs,
#   rename/save as to config.py
##

DEBUG = True

db_configs = {
  'ENGINE' :    'django.db.backends.mysql',
  'NAME' :  '',
  'USER' :  '',
  'PASSWORD':   '',
  'HOST':   '',
}
ALLOWED_HOSTS = ['localhost']
TIME_ZONE = 'America/New_York'

ORG_ROOT_DIR = '/data/'

STATIC_ROOT = '/data/project_electron_transfer/project_electron/static/'

PROJECT_ROOT_DIR = '/home/user/bin/aurora/'

TMP_DIR = '/data/tmp/'

# UNIT TESTING
TESTING_TMP_DIR = '/tmp/'
TEST_BAGS_DIR = '/home/user/bin/aurora/test_bags/'
TRANSFER_UPLOADS_ROOT = '/data/'
TRANSFER_EXTRACT_TMP = '/data/tmp/'

# LDAP GLOBALS

LDAP_OPTIONS_X_TLS_REQUIRE_CERT = False
LDAP_OPTIONS_REFERRALS = False
AUTH_LDAP_SERVER_URI =      ""
AUTH_LDAP_BIND_DN =         ""
AUTH_LDAP_BIND_PASSWORD =   ""
LDAP_SEARCH_DN =			""
LDAP_SEARCH_REGEX =			"(uid=%(user)s)"
AUTH_LDAP_ALWAYS_UPDATE_USER = False

LDAP_OBJECT_CLASSES = ["inetOrgPerson","person", "posixAccount", "top"]
LDAP_GID_NUMBER = ["100"]
LDAP_UID_PREFIX = "RA"

UPLOAD_LOG_FILE = '/data/uploads_to_process'

# EMAIL
EMAIL_HOST = 'mail.example.com'
EMAIL_PORT = 123
EMAIL_HOST_USER = 'test@example.com'
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = True
EMAIL_USE_SSL = False

# TEST STUFF
EMAIL_OVERRIDE = True
EMAIL_OVERRIDE_USERS = ['test@example.com']

BASE_URL = 'http://localhost/'

HOST_ORG_ID = 1

TRANSFER_FILESIZE_MAX = 2000
