<div class="card card--container card--blue accession__card accession__creators" id="{{creator.prefix}}">
  {% for hidden in creator.hidden_fields %}{{hidden}}{% endfor %}
  <div class="input">
    <label for="{{creator.name.id_for_label}}" required>Creator Name *</label>
    {{ creator.name }}
    {% if creator.name.errors %}
    {% for error in creator.name.errors %}
      <div class="input__error">{{error}}</div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="input">
    <label for="{{creator.type.id_for_label}}" required>Creator Type *</label>
    {{ creator.type }}
    {% if creator.type.errors %}
    {% for error in creator.type.errors %}
      <div class="input__error">{{error}}</div>
    {% endfor %}
    {% endif %}
  </div>
</div>
