{% extends 'transfers/base.html' %}
{% load tz static %}
{% load util %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block title_actions %}
  <a href="{% url 'accession:saved' %}" class="btn btn--md btn--gray">
    <span class="material-icon material-icon--space-after" aria-hidden="true">keyboard_arrow_left</span>
    Saved Accessions
  </a>
{% endblock %}

{% block content %}
<div class="status__badge">
	<span class="badge badge--md badge--{% if object.process_status == 40 %}green{% else %}red{% endif %}">{{ object.get_process_status_display }}</span>
</div>
<div class="card card--container flex--column mb-30">
	<h2>Accession Details: {{object.accession_transfers.count }} Transfer{% if object.accession_transfers.count > 1%}s{% endif %}</h2>
	<dl class="summary-list">
		<div class="summary-list__row">
			<dt class="summary-list__key">Description</dt>
			<dd class="summary-list__value">{{object.description}}</dd>
		</div>
		<div class="summary-list__row">
			<dt class="summary-list__key">Organization</dt>
			<dd class="summary-list__value">{{object.organization}}</dd>
		</div>
		<div class="summary-list__row">
			<dt class="summary-list__key">Extent</dt>
			<dd class="summary-list__value">{{ object.extent_size|filesizeformat }} ({{object.extent_files}} files)</dd>
		</div>
		<div class="summary-list__row">
			<dt class="summary-list__key">Dates</dt>
			<dd class="summary-list__value">{{object.start_date}}-{{object.end_date}}</dd>
		</div>
		<div class="summary-list__row">
			<dt class="summary-list__key">Creators</dt>
			<dd class="summary-list__value">{% for c in object.creators.all %}{{c.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
		</div>
		<div class="summary-list__row">
			<dt class="summary-list__key">Language</dt>
			<dd class="summary-list__value">{{object.language}}</dd>
		</div>
		<div class="summary-list__row">
			<dt class="summary-list__key">Acquisition Type</dt>
			<dd class="summary-list__value">{{object.acquisition_type}}</dd>
		</div>
		<div class="summary-list__row">
			<dt class="summary-list__key">Accession Date</dt>
			<dd class="summary-list__value">{{object.accession_date}}</dd>
		</div>
	</dl>
</div>
<div class="card card--container flex--column mb-30">
	<h2>Accession Transfers</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Dates</th>
					<th>Size</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for t in object.accession_transfers.all %}
				<tr>
					<td><a href="{% url 'transfers:detail' t.pk %}?referrer={% url 'accession:detail' accession.pk %}">{{t.bag_or_failed_name}}</a></td>
					<td>{{t.metadata.date_start|date:"M j, Y"}}-{{t.metadata.date_end|date:"M j, Y"}}</td>
					<td>{{t.machine_file_size|filesizeformat}}</td>
					<td>
						{{t.get_process_status_display}}
						<progress class='progress-bar--{{t.process_status | progress_class}}' max='100' value='{{t.process_status | progress_percentage}}' aria-label='{{t.process_status | progress_percentage}}% complete'></progress>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="card card--container flex--column">
	<h2>External Identifiers</h2>
	<ul>
		{% if object.accession_number %}
			<li><span class="text--bold">ArchivesSpace Accession Number</span>: {{object.accession_number}}</li>
		{% endif %}
		{% if object.archivesspace_identifier %}
			<li><span class="text--bold">ArchivesSpace Accession Record</span>: {{object.archivesspace_identifier}}</li>
		{% endif %}
		<li><span class="text--bold">ArchivesSpace Related Resource Record</span>: {{object.resource}}</li>
	</ul>
</div>

{% endblock %}
