{% extends 'transfers/base.html' %}
{% load static %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
{% regroup uploads by transfer_group as upload_groups %}

{% if not uploads %}
  <p>There are no accessions in the queue.</p>
{% else %}
  <table id="pending_accession_table" class="table table-striped dataTable">
    <thead>
      <tr>
        <th>Organization</th>
        <th>Record Creator(s)</th>
        <th>Record Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for group in upload_groups %}
      <tr>
        <td>{{group.list.0.organization}}</td>
        <td>{% for r in group.list.0.bag_data.record_creators %}
            {{ r }} <br />
          {% endfor %}
        </td>
        <td>{{group.list.0.bag_data.record_type}}</td>
        <td>
          {% if request.user.can_accession %}
          <a href="{% url 'accession:add' %}?transfers={%for g in group.list%}{{g.id}}{%if not forloop.last%},{%endif%}{%endfor%}" class="btn btn--sm btn--blue">Accession: {{group.list|length}} {% if group.list|length > 1 %}transfers{% else %}transfer{% endif %}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(function () {
    $('#pending_accession_table').DataTable({
      processing: true,
    });
  })
</script>
{% endblock %}
