{% extends 'transfers/base.html' %}
{% load static %}

{% block h1_title %}
  {% regroup uploads by transfer_group as upload_groups %}
  {{page_title}}
{% endblock %}

{% block content %}
{% regroup uploads by transfer_group as upload_groups %}

<div class="tabs">
  <ul class="tabs__list" role="tablist">
    <li class="tabs__list-item tabs__list-item--selected" role="presentation">
      <a
        class="tabs__tab"
        href="#pending-accessions"
        id="tab_pending-accessions"
        role="tab"
        aria-controls="pending-accessions"
        aria-selected="true"
        tabindex="0"
      >
      Pending Accessions {% if upload_groups|length %}({{ upload_groups|length }}){% endif %}
      </a>
    </li>
    <li class="tabs__list-item" role="presentation">
      <a
        class="tabs__tab"
        href="#saved-accessions"
        id="tab_saved-accessions"
        role="tab"
        aria-controls="saved-accessions"
        aria-selected="false"
        tabindex="-1"
      >
      Saved Accessions ({{ accessions.count }})
      </a>
    </li>
  </ul>
  <div
    class="tabs__panel"
    id="pending-accessions"
    role="tabpanel"
    aria-labelledby="tab_pending-accessions"
  >
    <h2>Pending Accessions</h2>
    {% if not uploads %}
    <p>There are no accessions in the queue.</p>
    {% else %}
    <div class="table-responsive">
      <table id="pending_accession_table" class="table table-striped dataTable">
        <thead>
          <tr>
            <th>Organization</th>
            <th>Record Creator(s)</th>
            <th>Record Type</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for group in upload_groups %}
          <tr>
            <td>{{group.list.0.organization}}</td>
            <td>{% for r in group.list.0.bag_data.record_creators %}
                {{ r }} <br />
              {% endfor %}
            </td>
            <td>{{group.list.0.bag_data.record_type}}</td>
            <td>
              {% if request.user.can_accession %}
              <a href="{% url 'accession:add' %}?transfers={%for g in group.list%}{{g.id}}{%if not forloop.last%},{%endif%}{%endfor%}" class="btn btn--sm btn--blue">Accession: {{group.list|length}} {% if group.list|length > 1 %}transfers{% else %}transfer{% endif %}</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  <div
    class="tabs__panel tabs__panel--hidden"
    id="saved-accessions"
    role="tabpanel"
    aria-labelledby="tab_saved-accessions"
  >
    <h2>Saved Accessions</h2>
    {% if accessions.count %}
    <div class="table-responsive">
      <table id="saved_accession_table" class="table table-striped dataTable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date Created</th>
            <th>Extent</th>
            <th>Transfers</th>
            <th>Status</th>
          </tr>
        </thead>
      </table>
    </div>
    {% else %}
    <p>There are no accessions currently in progress or completed.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/tablist.js' %}"></script>
<script type="text/javascript">
  $(function () {
    $.fn.dataTable.moment( 'MMM D, YYYY h:mm A' );
    saved = $('#saved_accession_table').DataTable({
      createdRow: function(row, data, dataIndex) {
          $(row).attr('data-accession-id', data[5]);
      },
      stateSave: true,
      processing: true,
      serverSide: true,
      fixedHeader: true,
      ajax: '{% url "accession:saved-datatable" %}'
    });
    saved.draw();
    pending = $('#pending_accession_table').DataTable({
      stateSave: true,
      fixedHeader: true,
    })
    pending.draw()

    // Handle click event for delivering saved accessions
    $("#saved_accession_table tbody").on("click", ".deliver", function(e){
      e.preventDefault();
      url = '{% url 'accession:list' %}';

      var data = {'accession_id': $(this).closest('tr').attr('data-accession-id')}
      var button = $(this)

      $.get(url, data, function(resp){
        if (resp.success){
          button.replaceWith('<p class="pull-right" style="margin-right:.7em;">Accession transfers delivered to queue</p>');
          displayMessage('blue', 'Accession delivered.', true);
        } else {
          displayMessage('orange', 'Something went wrong! '+resp.error+'Please try again.', false);
        }
      });

    });
  })
</script>
{% endblock %}
