{% extends 'transfer_app/base.html' %}
{% load tz %}

{% block h1_title %}Organization Name <small>PREMIS Rights Details</small>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <ul class="timeline">
      <li class="time-label">
        <span class="bg-blue">Rights Basis</span>
      </li>
      <li>
        <i class="fa fa-info bg-blue"></i>
        <div class="timeline-item">

          <h3 class="timeline-header">Copyright</h3>

          <div class="timeline-body">
            <dl class="dl-horizontal">
              <dt>Copyright status</dt>
              <dd>copyrighted</dd>
              <dt>Determination date</dt>
              <dd>June 22, 2017</dd>
              <dt>Jurisdiction</dt>
              <dd>us</dd>
              <dt>Applicable Dates</dt>
              <dd>January 1, 1982</dd>
              <dt>Copyright End Date</dt>
              <dd>open</dd>
              <dt>Copyright Note</dt>
              <dd>Copyright held by The Helpful Foundation</dd>
            </dl>
          </div>

        </div>
      </li>

      <li class="time-label">
        <span class="bg-teal">Acts Granted or Restricted</span>
      </li>
      <li>
        <i class="fa fa-check bg-green"></i>

        <div class="timeline-item">

          <h3 class="timeline-header">Disseminate <span class="label label-success">allow</span></h3>

          <div class="timeline-body">
            <dl>
              <dt>Applicable Dates</dt>
              <dd>June 22, 2017 - open</dd>
              <dt>Note</dt>
              <dd>Records from The Helpful Foundation are available for research.</dd>
            </dl>
          </div>
        </div>
      </li>

      <li>
        <i class="fa fa-times bg-red"></i>

        <div class="timeline-item">

          <h3 class="timeline-header">Publish <span class="label label-danger">disallow</span></h3>

          <div class="timeline-body">
            <dl>
              <dt>Applicable Dates</dt>
              <dd>June 22, 2017 - open</dd>
              <dt>Note</dt>
              <dd>Permission to publish has not been provided by The Helpful Foundation.</dd>
            </dl>
          </div>
        </div>
      </li>

      <li>
        <i class="fa fa-stop bg-gray"></i>
      </li>
    </ul>
  </div>
</div>


{% endblock %}
