<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'transfers/head.html' %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <!-- Main Header -->
    {% include 'transfers/header.html' %}

    <!-- Content Wrapper. Contains page content -->
    <main>
      <div class="wrapper">
        <div class="container">
          {% block title_section %}
          <div class="title-container">
            <h1>{% block h1_title %}Default Title{% endblock %}</h1>
            {% block title_actions %}{% endblock %}
          </div>
        {% endblock %}
          <div id="messages">{% include 'transfers/messages.html' %}</div>

            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    <!-- Main Footer -->
    {% include 'transfers/footer.html' %}

    <!-- Modals -->
    {% block modals %}{% endblock %}

    <!-- REQUIRED JS SCRIPTS -->
    {% include 'transfers/js_scripts.html' %}
    {% block extra_js %}{% endblock %}

  </body>
</html>
