<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'transfers/head.html' %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <!-- Main Header -->
    {% include 'transfers/header.html' %}

    <!-- Hero section (only on the homepage) -->
    {% if request.path == '/app/' %}
    <div class="wrapper wrapper__hero">
      <div class="hero">
        <div class="hero__logo">
          <img alt="Rockefeller Archive Center logo" src="https://assets.rockarch.org/assets/img/hero_logo.png" />
        </div>
        <div class="hero__text">
          An archival tool to receive <a href="https://docs.rockarch.org/digital-transfer-guide">transfers of digital records</a> and allow archivists to appraise and accession those records.
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Content Wrapper. Contains main page content -->
    <main id="main">
      <div class="wrapper">
        <div class="container">
          {% block title_section %}
          <div class="title__container">
            <h1>{% block h1_title %}Default Title{% endblock %}</h1>
            <div class="title__actions">{% block title_actions %}{% endblock %}</div>
          </div>
          {% endblock %}
          <div id="messages" role="status">{% include 'transfers/messages.html' %}</div>

            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    <!-- Main Footer -->
    {% include 'transfers/footer.html' %}

    <!-- Modals -->
    {% block modals %}{% endblock %}

    <!-- REQUIRED JS SCRIPTS -->
    {% include 'transfers/js_scripts.html' %}
    {% block extra_js %}{% endblock %}

  </body>
</html>
