<header class="header">
  <div class="header__brand header__brand--text">
    <a href="{% url 'app_home' %}" class="header__brand-title">Aurora</a>
    <div class="header__brand-subtitle text--white">
      Transfer digital archival records
    </div>
  </div>
  <div class="wrapper">
    <nav class="nav-center" aria-label="Main">
      <div class="nav-column">
        <div class="hide-on-lg-up">
          <button
            id="nav-toggle-menu"
            class="btn nav__btn--mobile nav__btn--orange"
            aria-label="menu"
            aria-expanded="false"
          >
            <span class="material-icon" aria-hidden="true">menu</span>
          </button>
        </div>

        <ul id="disclosure-nav" class="nav__list list--unstyled">
          <li class="nav__item--dropdown">
            <button
              class="nav__btn--dropdown"
              aria-expanded="false"
              aria-controls="id-transfers-menu"
            >
              Transfers
              <span aria-hidden="true" class="material-icon">
                keyboard_arrow_down
              </span>
            </button>
            <ul
              id="id-transfers-menu"
              class="list--unstyled nav__list--dropdown"
              hidden
            >
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'transfers:list' %}">
                  <div class="nav__link-title">All Transfers</div>
                </a>
              </li>
              {% if not request.user.is_staff %}
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'orgs:detail' pk=request.user.organization.pk %}">
                  <div class="nav__link-title">My Organization</div>
                </a>
              </li>
              {% endif %}
              {% if request.user.is_staff %}
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'appraise:list' %}">
                  <div class="nav__link-title">Appraise</div>
                </a>
              </li>
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'accession:list' %}">
                  <div class="nav__link-title">Accession</div>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>

          {% if request.user.is_staff %}
          <li class="nav__item--dropdown">
            <button
              class="nav__btn--dropdown"
              aria-expanded="false"
              aria-controls="id-admin-menu"
            >
              Admin
              <span aria-hidden="true" class="material-icon">
                keyboard_arrow_down
              </span>
            </button>
            <ul
              id="id-admin-menu"
              class="list--unstyled nav__list--dropdown"
              hidden
            >
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'orgs:list' %}">
                  <div class="nav__link-title">Organizations</div>
                </a>
              </li>
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'users:list' %}">
                  <div class="nav__link-title">Users</div>
                </a>
              </li>
              {% if request.user.is_superuser %}
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'admin:index' %}">
                  <div class="nav__link-title">Django Administration</div>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}

          <li class="nav__item--dropdown">
            <button
              class="nav__btn--dropdown"
              aria-expanded="false"
              aria-controls="id-profile-menu"
            >
              My Profile
              <span aria-hidden="true" class="material-icon">
                keyboard_arrow_down
              </span>
            </button>
            <ul
              id="id-profile-menu"
              class="list--unstyled nav__list--dropdown"
              hidden
            >
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="{% url 'users:detail' pk=request.user.id %}">
                  <div class="nav__link-title">User Profile</div>
                </a>
              </li>
              <li class="nav__list-item--dropdown">
                <a class="nav__link" href="/logout/">
                  <div class="nav__link-title">Sign Out</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

