{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Aurora{% if page_title %} - {{ page_title }}{% elif name %} - {{name}}{% endif %}</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, user-scalable=yes" name="viewport">

<link rel="stylesheet" href="https://assets.rockarch.org/v2.0.5/main.min.css">

<!-- Local custom CSS -->
<link rel="stylesheet" href="{% static "css/styles.css" %}">

<!-- Datatables -->
<link rel="stylesheet" href="{% static "css/datatables.css" %}">
<link rel="stylesheet" href="{% static "css/datatables-custom.css" %}">

<!--Favicon-->
<link rel="icon" href="https://assets.rockarch.org/assets/img/favicon.ico" type="image/png">

<!-- Matomo Tag Manager -->
<script>
  var _mtm = window._mtm = window._mtm || [];
  _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.async=true; g.src='{{ mtm_id }}'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->

