{% load static %}
<!-- Form error focus management for accessibility -->
<script type="text/javascript" src="{% static "js/form-errors.js" %}"></script>

<!-- Header Navigation -->
<script type="text/javascript" src="{% static "js/disclosure-menu.js" %}"></script>
<script type="text/javascript" src="{% static "js/nav-toggle.js" %}"></script>

<!-- jQuery 3.7.1 -->
<script src="{% static "dist/js/jquery-3.7.1.min.js" %}"></script>

<!-- DataTables -->
<script type="text/javascript" src="{% static "dist/js/datatables.min.js" %}"></script>

<!-- Micromodal.js -->
<script src="{% static "dist/js/micromodal.min.js" %}"></script>
<script src="{% static "js/modals.js" %}"></script>

<!-- Alert messages -->
<script src="{% static "js/alert.js" %}"></script>
