{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'transfers/head.html' %}
  <body class="login-page">
    <main id="main">
      <div class="wrapper">
        <div class="login-box">
          <div>
            <h1 class="login-logo">Aurora</h1>
            {% block content %}{% endblock %}
          </div>
          <div class="login-credit">Image by Soerfm <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/wiki/File%3AAurora_borealis_above_Lyngenfjorden%2C_2012_March-3.jpg">via Wikimedia Commons</a></div>
        </div>
      </div>
    </main>

    <!-- REQUIRED JS SCRIPTS -->
    {% include 'transfers/js_scripts.html' %}

  </body>
</html>
