{% extends 'transfers/base.html' %}
{% load static %}
{% load tz %}

{% block h1_title %}
  {{page_title}}: <span id="orgName"></span>
{% endblock %}

{% block title_actions %}
<div class="input" {% if not request.user.is_staff %}style="display:none;"{% endif %}>
  <label for="context-switcher">Select organization</label>
  <select id="context-switcher" aria-label="Select organizational context">
    {% for org in sorted_org_list %}
    <option value="{{org.0}}">{{org.1}}</option>
    {% endfor %}
  </select>
</div>

{% endblock %}

{% block content %}
  {% for k, org in data.items %}
    <div id="{{ k }}Data" class="org-data">
      <h2>Transfer data</h2>
      <div class="grid dashboard__summary-lists">
        <div class="card card--container card--blue dashboard__transferred flex--column mb-30">
          <div class="material-icon dashboard__icon icon--maroon" aria-hidden="true">trending_up</div>
          <dl class="summary-list">
            <div class="summary-list__row">
              <dt class="summary-list__key">Total transfers</dt>
              <dd class="summary-list__value">{{ org.uploads_count }}</dd>
            </div>
            <div class="summary-list__row">
              <dt class="summary-list__key">Total validated</dt>
              <dd class="summary-list__value">{{ org.validated_count }}</dd>
            </div>
            <div class="summary-list__row">
              <dt class="summary-list__key">Total accepted</dt>
              <dd class="summary-list__value">{{ org.accepted_count }}</dd>
            </div>
            <div class="summary-list__row">
              <dt class="summary-list__key">Total accessioned</dt>
              <dd class="summary-list__value">{{ org.accessioned_count }}</dd>
            </div>
          </dl>
        </div>

        <div class="card card--container card--blue dashboard__accessioned flex--column mb-30">
          <div class="material-icon dashboard__icon icon--maroon" aria-hidden="true">calendar_month</div>
          <dl class="summary-list">
            <div class="summary-list__row">
              <dt class="summary-list__key">Total size</dt>
              <dd class="summary-list__value">{{ org.uploads_size }}</dd>
            </div>
            <div class="summary-list__row">
              <dt class="summary-list__key">Validated size</dt>
              <dd class="summary-list__value">{{ org.validated_size }}</dd>
            </div>
            <div class="summary-list__row">
              <dt class="summary-list__key">Accepted size</dt>
              <dd class="summary-list__value">{{ org.accepted_size }}</dd>
            </div>
            <div class="summary-list__row">
              <dt class="summary-list__key">Accessioned size</dt>
              <dd class="summary-list__value">{{ org.accessioned_size }}</dd>
            </div>
        </div>
      </div>

      <div class="dashboard__flex-container card card--container">
        <h2>Recent Transfers</h2>
        {% if org.uploads %}
          <ol class="list--unstyled container--full-width">
            {% for upload in org.uploads %}
              <li>
                {% include 'parts/uploads_list_item.html' %}
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p>There are no recent transfers.</p>
        {% endif %}
      </div>
  </div>
  {% endfor %}
{% endblock %}

{% block extra_js %}
<script>
  $(function () {
    {% if request.user.is_archivist %}
    var context = 'all_orgs';
    var org_name = 'All Organizations';
    {% else %}
    var context = '{{request.user.organization.machine_name}}';
    var org_name = '{{request.user.organization.name}}';
    {% endif %}

    $('#context-switcher').on('change', function(){
      $('.org-data').hide(); // Change here to hide org-specific data
      var newContext = $('#context-switcher').val();
      $('#' + newContext + 'Data').show(); // Show only the selected org's data
      $('#orgName').text($('#context-switcher option:selected').text());
    });

    $('.org-data').hide(); // Initially hide all org data
    $('#' + context + 'Data').show(); // Show only the selected org's data
    $('#context-switcher').val(context);
    $('#orgName').text(org_name);
  });
</script>
{% endblock %}

