{% if messages %}
		{% for message in messages %}
			<div class="alert alert--{% if message.tags == 'error' %}orange{% else %}blue{% endif %}">
				<button type="button" class="alert__button" aria-label="Close alert message">
					<span class="material-icon" aria-hidden="true">close</span>
				</button>
				<span class="alert__icon" aria-hidden="true">
					{% if message.tags == 'success' %}
						check_circle_outline
					{% else %}
						error_outline
					{% endif %}
				</span>
				<p class="alert__text">{{ message }}</p>
			</div>
		{% endfor %}
{% endif %}
