<div class="input__form-layout mr-10">
  <div class="input bagit-metadata__input mb-10">
    <label for="{{ form.field.id_for_label }}">{{ form.field.label }}{% if form.field.field.required %} *{% endif %}</label>
    {{ form.field }}
  </div>

  <div class="input-group mb-10">
    {{ form.required }}
    <label class="checkbox--blue" for="{{ form.required.id_for_label }}">{{ form.required.label }}</label>
  </div>

  <div class="input-group mb-10">
    {{ form.repeatable }}
    <label class="checkbox--blue" for="{{ form.repeatable.id_for_label }}">{{ form.repeatable.label }}</label>
  </div>
</div>
