{% extends 'transfers/base.html' %}
{% load tz %}

{% block h1_title %}
  {{page_title}}: {{object.source_organization.name}}
{% endblock %}

{% block title_actions %}
  <a href="{% url 'orgs:detail' pk=object.organization.pk %}" class="btn btn--md btn--gray">
    <span class="material-icon material-icon--space-after" aria-hidden="true">keyboard_arrow_left</span>
    Back to Organization
  </a>
{% endblock %}

{% block content %}
<div class="card-list mb-30">
  <div class="card card--container flex--column">
    <h2>Profile Information</h2>
    <dl class="summary-list">
      {% if object.external_description %}
      <div class="summary-list__row">
        <dt class="summary-list__key">Description</dt>
        <dd>{{object.external_description}}</dd>
      </div>
      {% endif %}
      <div class="summary-list__row">
        <dt class="summary-list__key">Creator</dt>
        <dd>{{object.source_organization.name}}</dd>
      </div>
      <div class="summary-list__row">
        <dt class="summary-list__key">Contact Email</dt>
        <dd>{{object.contact_email}}</dd>
      </div>
      <div class="summary-list__row">
        <dt class="summary-list__key">BagIt Profile Identifier</dt>
        <dd>{{object.bagit_profile_identifier}} <span class="badge badge--blue">Version {{object.version}}</span></dd>
      </div>
    </dl>
  </div>

  <div class="card card--container flex--column">
    <h2>Technical Information</h2>
    <dl class="summary-list">
      <div class="summary-list__row">
        <dt class="summary-list__key">Allow fetch.txt Files?</dt>
        <dd class="summary-list__value">{{object.allow_fetch|yesno:"Yes,No"}}</dd>
      </div>
      <div class="summary-list__row">
        <dt class="summary-list__key">Serialization Allowed?</dt>
        <dd class="summary-list__value">{{object.serialization}}</dd>
      </div>
      {% if object.manifests_allowed.all %}
        <div class="summary-list__row">
          <dt class="summary-list__key">Manifests Allowed</dt>
          <dd class="summary-list__value">{% for s in object.manifests_allowed.all %}{{s.name}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</dd>
        </div>
      {% endif %}
      {% if object.manifests_required.all %}
        <div class="summary-list__row">
          <dt class="summary-list__key">Manifests Required</dt>
          <dd class="summary-list__value">{% for s in object.manifests_required.all %}{{s.name}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</dd>
        </div>
      {% endif %}
      {% if object.accept_serialization.all %}
        <div class="summary-list__row">
          <dt class="summary-list__key">Serializations Accepted</dt>
          <dd class="summary-list__value">{% for s in object.accept_serialization.all %}{{s.name}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</dd>
        </div>
          {% endif %}
      {% if object.bagit_versions_accepted.all %}
        <div class="summary-list__row">
          <dt class="summary-list__key">BagIt Versions Accepted</dt>
          <dd class="summary-list__value">{% for v in object.bagit_versions_accepted.all %}{{v.name}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</dd>
        </div>
      {% endif %}
      {% if object.tag_manifests_required.all %}
        <div class="summary-list__row">
          <dt class="summary-list__key">Tag Manifests Required</dt>
          <dd class="summary-list__value">{% for v in object.tag_manifests_required.all %}{{v.name}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</dd>
        </div>
      {% endif %}
      {% if object.tag_files_required.all %}
        <div class="summary-list__row">
          <dt class="summary-list__key">Tag Files Required</dt>
          <dd class="summary-list__value">{% for v in object.tag_files_required.all %}{{v.name}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</dd>
        </div>
      {% endif %}
    </dl>
  </div>
</div>

<div class="card card--container flex--column">
  <h2>Metadata Elements</h2>
  <div class="card-list">
    {% for b in object.bag_info.all %}
      <div class="card card--container card--blue">
        <div class="card__body flex--column">
          <h3 class="card__title">{{b.get_field_display}}</h3>
            <p class="card__body-text">
              <span class="text--bold">Allowed Values:</span><br>
              {% if b.bagitprofilebaginfovalues_set.all %}
                <ul class="card__body-text my-0">
                  {% for value in b.bagitprofilebaginfovalues_set.all %}
                    <li>{{value.name}}</li>
                  {% endfor %}
                </ul>
              {% else %}
                All values are accepted.
              {% endif %}
            </p>
          </div>
        <div class="card__footer">
          {% if b.required %}<span class="badge badge--orange">Required{% else %}<span class="badge badge--orange">Optional{% endif %}</span>
          {% if b.repeatable %}<span class="badge badge--orange">Repeatable{% else %}<span class="badge badge--orange">Non-Repeatable{% endif %}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
