{% extends 'transfers/base.html' %}
{% load util %}

{% block h1_title %}{{page_title}}: {{organization}}{% endblock %}

{% block title_actions %}
<div class="badge badge--blue">Version {{form.version.value}}</div>
{% endblock %}

{% block content %}

<form action="" method="post" novalidate>
	{% csrf_token %}

	<div class="card card--container flex--column mt-20">
		<h2>General Information</h2>
		{{form.management_form}}
		{{form.non_form_errors}}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<div class="input input__form-layout mb-20">
			<label for="{{form.external_description.id_for_label}}">{{ form.external_description.label }}</label>
			{{ form.external_description }}
			<div class="input__help-text" id="{{form.external_description.id_for_label}}-help">{{ form.external_description.help_text }}</div>
		</div>
		<div class="input-group mb-20">
			{{ form.allow_fetch }}
			<label class="checkbox--blue" for="{{form.allow_fetch.id_for_label}}">{{form.allow_fetch.label}}</label>
		</div>

		<fieldset class="mb-20" aria-required="true">
			<legend>Serialization Allowed? *</legend>

			{% if form.non_field_errors %}
					{% for error in form.non_field_errors %}
							<div class="input__error">{{ error }}</div>
					{% endfor %}
			{% endif %}

			{% for checkbox in form.serialization %}
					<div class="input-group">
							{{ checkbox.tag }}
							<label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
					</div>
			{% endfor %}

			{% for error in form.serialization.errors %}
					<div class="input__error">{{ error }}</div>
			{% endfor %}
		</fieldset>

		{% include 'bagit_profiles/checkbox_fieldset.html' with formset=manifests_allowed_formset %}
		{% include 'bagit_profiles/checkbox_fieldset.html' with formset=manifests_formset %}
		{% include 'bagit_profiles/checkbox_fieldset.html' with formset=serialization_formset %}
		{% include 'bagit_profiles/checkbox_fieldset.html' with formset=version_formset %}
		{% include 'bagit_profiles/checkbox_fieldset.html' with formset=tag_manifests_formset %}

		<div class="input__form-layout">
			<label id="tag_files-label">Tag Files Required</label>
			{{ tag_files_formset.management_form }}
			{{ tag_files_formset.non_form_errors }}
			{% for form in tag_files_formset %}
				{% include 'bagit_profiles/repeating_form.html' %}
			{% endfor %}
			<div id="{{tag_files_formset.prefix}}-help" class="input__help-text">List required tag files, if any.</div>
		</div>
	</div>

	<div class="card card--container flex--column mt-30">
		<h2>Metadata</h2>
		{{ bag_info_formset.management_form }}
		{{ bag_info_formset.non_form_errors }}
		{% for form in bag_info_formset %}
		<div id="{{ form.prefix }}-row" class="{{ form.prefix | trim_form_prefix }} card card--container card--blue dynamic-form container--full-width mb-20">
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% include 'bagit_profiles/baginfo_form_fields.html' %}
			{% if form.nested %}
				<div class="nested-form flex">
					{{ form.nested.management_form }}
					{{ form.nested.non_form_errors }}
					<div class="values-form__input mr-10">
						<label id="values-label">Controlled Values (if applicable)</label>
						{% for form in form.nested.forms %}
							{% include 'bagit_profiles/repeating_form.html' %}
						{% endfor %}

					</div>
					<button id="remove-{{ form.prefix }}-row" class="delete-row delete-field__btn btn btn--sm btn--orange" type="button" 
						data-target="{{ form.prefix | trim_form_prefix }}">
						<span class="material-icon material-icon--space-after" aria-hidden="true">close</span> 
						Delete Field
					</button>
				</div>
			{% endif %}
		</div>
		{% endfor %}

		<button class="add-row btn btn--sm btn--blue" type="button" data-target="bag_info"><span class="material-icon material-icon--space-after" aria-hidden="true">add</span>Add Metadata Field</button>
	</div>

	<div class="mt-30">
		<button type="submit" class="btn btn--md btn--blue">Submit</button>
		<a href="{% url 'orgs:detail' organization.pk %}" class="btn btn--md btn--gray">Cancel</a>
	</div>

</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  function updateElementIndex(el, prefix, ndx) {
		var id_regex = new RegExp('(' + prefix + '-\\d+)');
		var replacement = prefix + '-' + ndx;

		if (el.id) el.id = el.id.replace(id_regex, replacement);
		if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		if (el.name) el.name = el.name.replace(id_regex, replacement);
		if (el.className) el.className = el.className.replace(id_regex, replacement);
		if ($(el).attr('data-target')) $(el).attr('data-target', $(el).attr('data-target').replace(id_regex, replacement));
	}
	function renumberForms(prefix) {
    forms = $('[class^=' + prefix + ']');
    for (var i = 0, formCount = forms.length; i < formCount; i++) {
        updateElementIndex(forms.get(i), prefix, i);
        // Update input fields
        $(forms.get(i)).find('[name^=' + prefix + ']').each(function () {
            updateElementIndex(this, prefix, i);
        });
        // Update labels associated with inputs
        $(forms.get(i)).find('label[for]').each(function () {
            updateElementIndex(this, prefix, i);
        });
        if ($(forms.get(i)).find('.nested-form').length) {
            nestedForm = $(forms.get(i)).find('.nested-form');
            selector = $(nestedForm).children().attr('id');
            nestedPrefix = selector.substring(selector.indexOf('_') + 1, selector.lastIndexOf('-'));
            $(nestedForm).find('#id_' + nestedPrefix + '-TOTAL_FORMS').val($(nestedForm).find('[class^=nested_bag_info]').length);
            $(forms.get(i)).find('[data-target^=nested_], input[name^=nested_], div[id^=nested_]').each(function () {
                updateElementIndex(this, prefix, i);
            });
        }
    }
	}
  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

		$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
		if ($(btn).closest('.dynamic-form').length) {
			var appendAfter = $(btn).closest('.dynamic-form:visible')
		} else {
			var appendAfter = $(btn).siblings('.dynamic-form:visible')[$(btn).siblings('.dynamic-form:visible').length-1]
		}
		var row = $(appendAfter).clone(true).get(0);
		$(row).find("input:not([type='hidden'], [type='checkbox'])").val('');
		$(row).find("select[type!='hidden']").find('option:first').attr('selected', 'selected');
    $(row).insertAfter($(appendAfter)).find('.hidden').removeClass('hidden');
		if ($(row).find('.nested-form').length) {
			var nestedForm = $(row).find('.nested-form');
			$(nestedForm).find('div.dynamic-form:not(:first)').remove();
			$(nestedForm).find('div.dynamic-form').find('.add-row').show();
			$(nestedForm).find('div.dynamic-form').find('.delete-row').addClass('hidden');
		}
		if ($(btn).attr('data-target') != 'bag_info') {
			$(btn).hide()
		}

		renumberForms(prefix)
		if (parseInt($('#id_' + prefix + '-TOTAL_FORMS').val()) >= parseInt($('#id_' + prefix + '-MAX_NUM_FORMS').val())) {
			$(row).find('.add-row').attr("disabled", "disabled");
		}
  }
  function deleteForm(btn, prefix) {
    form = $(btn).closest('.dynamic-form')
		inputPrefix = $(form).attr('id').substr(0, $(form).attr('id').indexOf('-row'))
		$(form).append('<input type="hidden" name="'+inputPrefix+'-DELETE" id="id_'+inputPrefix+'-DELETE" value="true">').hide()
    var forms = $('.'+prefix);
    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
		renumberForms(prefix);
		if (parseInt($('.dynamic-form.'+prefix+':not(:hidden)').length) < parseInt($('#id_' + prefix + '-MAX_NUM_FORMS').val())) {
			$('.add-row[data-target='+prefix+']').removeAttr("disabled");
		}
		$('.dynamic-form.'+prefix+':visible').last().find('.add-row[data-target='+prefix+']').show()
  }
	function isFormEmpty(form) {
    var empty = true
		if ($(form).find('.has-error').length) {
			return false
		}
    $(form).find(':input[type!="hidden"][type!="checkbox"]').each(function(){
      if ($(this).val()) {
        $(this).find('.delete-row').removeClass("hidden")
          empty = false
          return false
      }
    })
    return empty
  }
  $(document).ready(function() {
		$('[id$=DELETE]').hide()
		$('input[name$=-TOTAL_FORMS]').each(function(){
			var formPrefix = $(this).attr('name').substr(0, $(this).attr('name').indexOf('-TOTAL_FORMS'))
			if (parseInt($(this).val()) >= parseInt($('input[name='+formPrefix+'-MAX_NUM_FORMS]').val())) {
				$('.add-row[data-target='+formPrefix+']').attr("disabled", "disabled");
			} else {
				$('.add-row[data-target='+formPrefix+']').removeAttr("disabled");
			}
		});
		$('.dynamic-form').each(function(){
			if (isFormEmpty(this)) {
				$(this).find('.delete-row').addClass("hidden")
			};
		})
    $('.add-row').on('click', function() {
			if (!($(this).attr('disabled'))) {
				addForm(this, $(this).attr('data-target'));
			}
    });
    $('.delete-row').on('click', function() {
	    deleteForm(this, $(this).attr('data-target'));
    })
		$('.dynamic-form').on('change', function(e){
			if ($(e.target).attr("type") == "text") {
				addForm($(this).find('.add-row'), $(this).find('.add-row').attr('data-target'));
				$(this).next('.dynamic-form').find('.delete-row').addClass('hidden')
			}
			if (isFormEmpty(this)) {
				$(this).find('.delete-row').addClass("hidden")
			} else {
				if ($(this).attr('id').startsWith('nested')) {
					$(this).find('.delete-row').removeClass("hidden")
				} else {
					$(this).find('.delete-row:not([data-target^="nested"])').removeClass("hidden")
				}
			};
			return false
		});
  });
</script>
{% endblock %}
