{% load util %}

<div id="{{ form.prefix }}-row" class="{{form.prefix| trim_form_prefix}} dynamic-form input-repeat input">
  {% for field in form %}
    {{field}}
  {% endfor %}
  <div class="dynamic-form__btns">
    <button class="delete-row btn btn--xs btn--orange" type="button"
    data-target="{{form.prefix | trim_form_prefix }}"
    aria-label="delete single form field">
      <span class="material-icon" aria-hidden="true">close</span>
      Delete
    </button>
    <button {% if not forloop.last %}style="display:none;"{% endif %}
      class="add-row btn btn--xs btn--blue ml-5" type="button" data-target="{{form.prefix| trim_form_prefix }}"
      aria-label="add a new form field">
      <span class="material-icon" aria-hidden="true">add</span>
      Add
    </button>
  </div>
</div>
