###############
#   This is a sample configuration file, intended for demonstration purposes only.
#   Be sure to change configuration values as necessary for production use.
#
#   If you're using the Docker container, this file was automatically created
#   the first time you started the container.
##############

DEBUG = True

DEFAULT_DB = {
      'ENGINE': 'django.db.backends.mysql',
      'NAME': 'mysql',
      'USER': 'root',
      'PASSWORD': 'example',
      'HOST': 'db',
      'PORT': 3306,
}

ALLOWED_HOSTS = ['localhost', 'testserver']

BASE_URL = 'http://localhost/'

TIME_ZONE = 'America/New_York'

# Directory configs
STORAGE_ROOT_DIR = '/data1/'
DELIVERY_QUEUE_DIR = '/delivery/'
STATIC_ROOT = '/data/htdocs/aurora/aurora/static/'
PROJECT_ROOT_DIR = '/data/htdocs/aurora/'

# Unit test configs
TEST_BAGS_DIR = '/data/htdocs/aurora/test_bags/'
TEST_USER = {'USERNAME': 'manager', 'PASSWORD': 'password'}

# Transfer configs
TRANSFER_FILESIZE_MAX = 2000000000 # in bytes
TRANSFER_UPLOADS_ROOT = '/data/'
TRANSFER_EXTRACT_TMP = '/data/tmp/'
UPLOAD_LOG_FILE = '/data/uploads_to_process'

# Email configs
EMAIL_HOST = 'mail.example.com'
EMAIL_PORT = 123
EMAIL_HOST_USER = 'test@example.com'
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = True
EMAIL_USE_SSL = False
EMAIL_OVERRIDE = True
EMAIL_OVERRIDE_USERS = ['test@example.com']

DELIVERY_URL = 'http://zodiac-web:8001/api/store-accessions/'
API_KEY = 'demo'

# ArchivesSpace configs
ASPACE = {
  "baseurl": "http://localhost:8089/",
  "username": "admin",
  "password": "admin",
  "repo_id": 2,
}
