language: python
sudo: required
services:
  - docker
env:
  global:
    - DOCKER_COMPOSE_VERSION: 1.18.0
before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - cp aurora/aurora/config.py.example aurora/aurora/config.py
  - docker-compose up -d
  - sleep 20s
install: true
# script:
#   - docker-compose exec web python manage.py test
