version: '3'

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: example
    volumes:
      - auroradb:/var/lib/mysql
  web:
    build: .
    entrypoint: /code/entrypoint.sh
    volumes:
      - .:/code
      - ~/.pe-shared/aurora-upload:/data
      - storage:/data1
      - ~/.pe-shared/aurora-ursamajor:/delivery
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  auroradb:
  storage:

# networks:
#   default:
#     external:
#       name: zodiac_microservices
