ArchivesSnake~=0.10
arrow~=1.3
Authlib~=1.5
bagit~=1.8
bagit-profile~=1.3
boto3~=1.31
Django~=4.1
django-braces~=1.17
django-cron~=0.6
django-csp~=3.7
djangorestframework~=3.16
drf-jwt~=1.19
inflection~=0.5.1
iso-639~=0.4
jsonschema~=4.4
moto~=5.1
mysqlclient~=2.1
pyClamd~=0.4
python-dateutil~=2.8
python-jose~=3.4
pytz~=2025.2
PyYAML~=6.0
rac-schema-validator~=1.0
requests~=2.32
uritemplate~=4.1
