ArchivesSnake==0.9.1
asterism==0.8
Authlib==1.0.1
bagit==1.8.1
bagit-profile==1.3.1
boto3==1.24.25
Django==4.0.4
django-braces==1.15.0
django4-cron==0.5.1
djangorestframework==3.13.1
drf-jwt==1.19.2
iso-639==0.4.5
iso8601==0.1.16
jsonschema==4.4.0
mysqlclient==2.1.0
psutil==5.9.0
pyClamd==0.4.0
python-dateutil==2.8.2
PyYAML==6.0
rac_schemas==0.30
requests==2.27.1
uritemplate==4.1.1
