archivessnake==0.10.1
    # via -r requirements.in
arrow==1.4.0
    # via -r requirements.in
asgiref==3.11.1
    # via django
attrs==26.1.0
    # via
    #   archivessnake
    #   jsonschema
    #   referencing
authlib==1.7.2
    # via -r requirements.in
bagit==1.9.0
    # via
    #   -r requirements.in
    #   bagit-profile
bagit-profile==1.3.1
    # via -r requirements.in
boltons==26.0.0
    # via archivessnake
boto3==1.43.38
    # via
    #   -r requirements.in
    #   moto
botocore==1.43.38
    # via
    #   boto3
    #   moto
    #   s3transfer
certifi==2026.6.17
    # via requests
cffi==2.0.0
    # via cryptography
charset-normalizer==3.4.7
    # via requests
cryptography==49.0.0
    # via
    #   authlib
    #   joserfc
    #   moto
    #   pyjwt
django==4.2.30
    # via
    #   -r requirements.in
    #   django-braces
    #   django-cron
    #   django-csp
    #   djangorestframework
    #   drf-jwt
django-braces==1.17.0
    # via -r requirements.in
django-cron==0.6.0
    # via -r requirements.in
django-csp==3.8
    # via -r requirements.in
djangorestframework==3.17.1
    # via
    #   -r requirements.in
    #   drf-jwt
drf-jwt==1.19.2
    # via -r requirements.in
ecdsa==0.19.2
    # via python-jose
idna==3.18
    # via requests
inflection==0.5.1
    # via -r requirements.in
iso-639==0.4.5
    # via -r requirements.in
jmespath==1.1.0
    # via
    #   boto3
    #   botocore
joserfc==1.7.2
    # via authlib
jsonschema==4.26.0
    # via
    #   -r requirements.in
    #   rac-schema-validator
jsonschema-specifications==2025.9.1
    # via jsonschema
markupsafe==3.0.3
    # via werkzeug
more-itertools==11.1.0
    # via archivessnake
moto==5.2.2
    # via -r requirements.in
mysqlclient==2.2.8
    # via -r requirements.in
pyasn1==0.6.3
    # via
    #   python-jose
    #   rsa
pyclamd==0.4.0
    # via -r requirements.in
pycparser==3.0
    # via cffi
pyjwt[crypto]==2.13.0
    # via
    #   drf-jwt
    #   pyjwt
python-dateutil==2.9.0.post0
    # via
    #   -r requirements.in
    #   arrow
    #   botocore
python-jose==3.5.0
    # via -r requirements.in
pytz==2025.2
    # via -r requirements.in
pyyaml==6.0.3
    # via
    #   -r requirements.in
    #   archivessnake
    #   responses
rac-schema-validator==1.1.2
    # via -r requirements.in
rapidfuzz==3.14.5
    # via archivessnake
referencing==0.37.0
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.34.2
    # via
    #   -r requirements.in
    #   archivessnake
    #   bagit-profile
    #   moto
    #   responses
responses==0.26.1
    # via moto
rpds-py==0.30.0
    # via
    #   jsonschema
    #   referencing
rsa==4.9.1
    # via python-jose
s3transfer==0.19.0
    # via boto3
six==1.17.0
    # via
    #   ecdsa
    #   python-dateutil
sqlparse==0.5.5
    # via django
structlog==26.1.0
    # via archivessnake
typing-extensions==4.15.0
    # via referencing
tzdata==2026.2
    # via arrow
uritemplate==4.2.0
    # via -r requirements.in
urllib3==2.7.0
    # via
    #   botocore
    #   requests
    #   responses
werkzeug==3.1.8
    # via moto
xmltodict==1.0.4
    # via moto
