ArchivesSnake~=0.9
asterism~=0.8
Authlib~=1.0
bagit~=1.8
bagit-profile~=1.3
boto3~=1.24
Django~=4.0.8
django-braces~=1.15
django4-cron~=0.5
django-csp~=3.7
djangorestframework~=3.13
drf-jwt~=1.19
iso-639~=0.4
iso8601~=0.1
jsonschema~=4.4
mysqlclient~=2.1
pyClamd~=0.4
python-dateutil~=2.8
python-jose~=3.3
PyYAML~=6.0
rac_schemas~=0.30
requests~=2.27
uritemplate~=4.1
