bagit==1.5.4
bagit-profile==1.3.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5
Django==1.11.20
django-braces==1.11.0
django-common-helpers==0.9.1
django-cron==0.5.0
django-datatables-view==1.17.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
drf-yasg==1.11.0
flex==6.14
functools32==3.2.3.post2
future==0.16.0
idna==2.6
inflection==0.3.1
iso8601==0.1.12
itypes==1.1.0
Jinja2==2.10.1
jsonpointer==1.14
jsonschema==2.6.0
MarkupSafe==1.0
MySQL-python==1.2.5
openapi-codec==1.3.2
psutil==5.3.1
pyClamd==0.4.0
pycountry==17.9.23
PyJWT==1.6.1
python-dateutil==2.6.1
pytz==2018.5
PyYAML==4.2b4
rfc3987==1.3.7
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.71
six==1.11.0
strict-rfc3339==0.7
swagger-spec-validator==2.1.0
uritemplate==3.0.0
urllib3==1.24.2
validate-email==1.3
virtualenv==16.0.0
