{% extends 'transfer_app/base.html' %}
{% load tz %}

{% block h1_title %}
  {{object.organization}} <small>PREMIS Rights Details</small>
  <a href="{% url 'orgs-detail' object.organization.pk %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Back To Organization</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="box box-info">
    	<div class="box-header with-border">
    		<h3 class="box-title">Applies to Record Type(s)</h3>
      </div>
      <div class="box-body">
        {% for t in object.applies_to_type.all %}<span class="label label-default">{{t}}</span> {% endfor %}
      </div>
    </div>

    <ul class="timeline">
      <li class="time-label">
        <span class="bg-blue">Rights Basis</span>
      </li>
      <li>
        <i class="fa fa-info bg-blue"></i>
        <div class="timeline-item">

          <h3 class="timeline-header">{{object.rights_basis}}</h3>

          <div class="timeline-body">
            {% include 'rights/rights_basis_info.html' %}
          </div>

        </div>
      </li>

      <li class="time-label">
        <span class="bg-teal">Rights Granted or Restricted</span>
      </li>

      {% for rights_granted in rights_granted_info %}
        {% include 'rights/rights_granted_info.html' %}
      {% endfor %}

      <li>
        <i class="fa fa-stop bg-gray"></i>
      </li>
    </ul>
  </div>
</div>


{% endblock %}
