{% extends 'transfer_app/base.html' %}

{% block h1_title %}{{organization}} <small>PREMIS Rights Statement</small>{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

    <div class="box {% if not object.is_active and not object.is_new_account %}box-danger{% else %}box-primary{% endif %}">
      <div class="box-header with-border">
        <form role="form" action="" method="post">
          {% csrf_token %}
          <div class="box-body">
            {% include 'rights/form_fields.html' with form=basis_form %}
            <div id="copyright_formset">
              {{ copyright_form.management_form }}
              {{ copyright_form.non_form_errors }}
              {% for form in copyright_form %}
                {% include 'rights/form_fields.html' %}
              {% endfor %}
            </div>
            <div id='license_formset'>
              {{ license_form.management_form }}
              {{ license_form.non_form_errors }}
              {% for form in license_form %}
                  {% include 'rights/form_fields.html' %}
              {% endfor %}
            </div>
            <div id='statute_formset'>
              {{ statute_form.management_form }}
              {{ statute_form.non_form_errors }}
              {% for form in statute_form %}
                  {% include 'rights/form_fields.html' %}
              {% endfor %}
            </div>
            <div id='other_formset'>
              {{ other_form.management_form }}
              {{ other_form.non_form_errors }}
              {% for form in other_form %}
                  {% include 'rights/form_fields.html' %}
              {% endfor %}
            </div>
            {% if granted_formset %}
            <h3>Rights Basis</h3>
            <p>{% include 'rights/rights_basis_info.html' with object=rights_statement %}</p>
            <h3>Rights Granted or Restricted</h3>
            <div id='granted_formset' class="well">
              {{ granted_formset.management_form }}
              {% for form in granted_formset %}
                {% include 'rights/form_fields.html' %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  // logic to show appropriate subform
  function revealSelectedBasis() {
    var basis = $('#id_rights_basis').val()
    var formsets = {
        'Copyright': 'copyright_formset',
        'Statute':   'statute_formset',
        'License':   'license_formset',
        'Other':     'other_formset'
    }

    // hide all formsets except basis
    for (var key in formsets) {
      if (key != basis && formsets[key]) {
        $('#' + formsets[key]).hide();
      }
    }

    // if basis has a formset, show it
    if (formsets[basis]) {
      $('#' + formsets[basis]).show();
    }

  }


  $(document).ready(function() {
    // active formset changer
    $('#id_rights_basis').change(revealSelectedBasis);
    revealSelectedBasis();
  });
</script>
{% endblock %}
