{% extends 'transfer_app/base.html' %}
{% load tz %}

{% block h1_title %}{{object.organization}} <small>PREMIS Rights Statement Details</small>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-danger">
      <div class="box-body">
        <form action="" method="post">{% csrf_token %}
            <h4><i class="icon fa fa-ban"></i> Are you sure you want to delete this rights statement?</h4>
            <p>This rights basis and all associated rights granted or restricted will be deleted.</p>
          <input class="btn btn-primary" type="submit" value="Delete" />
          <a class="btn btn-danger" href="{% url 'app_home' %}">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mar-top20">
  <div class="col-md-12">

    <ul class="timeline">
      <li class="time-label">
        <span class="bg-blue">Rights Basis</span>
      </li>
      <li>
        <i class="fa fa-info bg-blue"></i>
        <div class="timeline-item">

          <h3 class="timeline-header">{{object.rights_basis}}</h3>

          <div class="timeline-body">
            {% include 'rights/rights_basis_info.html' %}
          </div>

        </div>
      </li>

      <li class="time-label">
        <span class="bg-teal">Rights Granted or Restricted</span>
      </li>

      {% for rights_granted in rights_granted_info %}
        {% include 'rights/rights_granted_info.html' %}
      {% endfor %}

      <li>
        <i class="fa fa-stop bg-gray"></i>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
