<li>
  <i class="fa {% if rights_granted.restriction == 'disallow' %}fa-times bg-red{% elif rights_granted.restriction == 'allow' %}fa-check bg-green{% else %}fa-warning bg-orange{% endif %}"></i>

  <div class="timeline-item">

    <h3 class="timeline-header">{{rights_granted.act}} <span class="label label-{% if rights_granted.restriction == 'disallow' %}danger{% elif rights_granted.restriction == 'allow' %}success{% else %}warning{% endif %}">{{rights_granted.restriction}}</span></h3>

    <div class="timeline-body">
      <dl>
        {% if rights_granted.start_date and rights_granted.end_date %}
        <dt>Applicable Dates</dt>
        <dd>{{ rights_granted.start_date }} - {{ rights_granted.end_date }}</dd>
        {% elif rights_granted.start_date_period %}
        <dt>Applicable Date Rules</dt>
        <dd>{{ rights_granted.start_date_period }} years after start date</dd>
        {% elif rights_granted.end_date_period %}
        <dt>Applicable Date Rules</dt>
        <dd>{{ rights_granted.end_date_period }} years after end date</dd>
        {% endif %}
        <dt>Note</dt>
        <dd>{{ rights_granted.rights_granted_note }}</dd>
      </dl>
    </div>
  </div>
</li>
