<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">BagIt Profiles</h3>
		{% if request.user.is_superuser %}<a href="{% url 'bagit-profiles-add' object.pk %}" class="bagit-profile-add btn btn-primary pull-right" {% if object.bagit_profiles %}style="display:none"{% endif %}><i class="fa fa-plus"></i> Add BagIt Profile</a>{% endif %}
	</div>
	<div class="box-body {% if object.bagit_profiles %}no-padding{% endif %}">
		{% include 'parts/bagit_profiles_table.html' with org=object %}
	</div>
</div>
