
{% if not uploads %}
	<div>No uploads</div>
 {% else %}
	<table id="{{ table_id }}" class="table table-striped dataTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Record Creators</th>
				<th>Record Type</th>
				<th>Transfer Time</th>
			</tr>
		</thead>

		<tbody>
		{% for upload in uploads %}
			<tr tabindex="0" data-url="{% url 'transfers:detail' upload.pk %}" class="pointer-row">
				<td>{{ upload.bag_or_failed_name }}</td>
				<td>
					{% for c in upload.bag_data.record_creators %}
						{{ c }} <br />
					{% endfor %}
				</td>
				<td>{{ upload.bag_data.record_type }}</td>
				<td>{{ upload.machine_file_upload_time|date:"M j, Y h:i A"}}</td>
			</tr>

		{% endfor %}
		</tbody>
	</table>

	<div class="text-center">
		<a href="{% url 'transfers:list' %}" class="btn btn-primary">View all transfers</a>
	</div>

{% endif %}
