{% if rights_statements %}
  <table class="table table-striped rights-statement-table">
    <thead>
      <tr>
        <th>Basis</th>
        <th>Rights Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for statement in rights_statements %}
      <tr rel="{{ statement.pk }}">
        <td>{{statement.rights_basis}}</td>
        <td>{{statement.get_table_data.notes}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<p class="has-no-rights-statement-p" {% if rights_statements %}style="display:none"{% endif %}>No rights statements.</p>
