<div class="box-comment">
  <div class="box-comment-icon">
    <span class="fa fa-archive fa-3x {% if upload.bag_it_valid %}green-bag{% else %}red-bag{% endif %}" aria-label="{% if upload.bag_it_valid %}valid{% else %}invalid{% endif %} transfer"></span>
  </div>

  <div class="comment-text">
    <a class="upload-title" href="{% url 'transfers:detail' pk=upload.pk %}">
        {{ upload.bag_or_failed_name }}
    </a>
    <span class="pull-right">{{ upload.created_time }}</span>
  {% if upload.user_uploaded %}
    <p>
    Transfer by
    {% if request.user.is_manager or request.user.is_staff %}
      <a href="{% url 'users:detail' pk=upload.user_uploaded.pk %}">
        {{ upload.user_uploaded.username }}
      </a>
    {% else %}
      <span>{{ upload.user_uploaded.username }}</span>
    {% endif %}
    {% if upload.bag_it_valid %}passed{% else %}failed{% endif %} validation
    </p>
  {% else %}
  <p>
    {% if upload.bag_it_valid %}
      Transfer successful
    {% else %}
      Transfer Failed
    {% endif %}
  </p>
  {% endif %}

  </div>
</div>
