{% extends 'transfers/base.html' %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
<form action="" method="post" novalidate>
	{% csrf_token %}

	<div class="input__form-layout">
		{% include 'rights/form_fields.html' with field=form.name %}
	</div>

	<div class="input__form-layout">
		{% include 'rights/form_fields.html' with field=form.acquisition_type %}
	</div>
	<div class="input--full-width">
		<button type="submit" class="btn btn--md btn--blue">Create</button>
		<button type="reset" class="btn btn--md btn--gray" onclick="window.open('{% url 'orgs:list' %}','_self')">Cancel</button>
	</div>

</form>

{% endblock %}
