{% extends 'transfers/base.html' %}
{% load tz static %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
<div class="grid">
  <div class="org-detail">
    <div class="card card--container flex--column mb-30">
      <h2>{{ object.name }}</h2>

      <dl class="summary-list">
        <div class="summary-list__row">
          <dt class="summary-list__key">Active?</dt>
          <dd class="summary-list__value">{% if object.is_active %}yes{% else %}no{% endif %}</dd>
        </div>
        <div class="summary-list__row">
          <dt class="summary-list__key">Total Uploads</dt>
          <dd class="summary-list__value">{{ uploads_count }}</dd>
        </div>
        <div class="summary-list__row">
          <dt class="summary-list__key">Users</dt>
          <dd class="summary-list__value">{{ object.org_users|length }}</dd>
        </div>
        {% if object.acquisition_type %}
        <div class="summary-list__row">
          <dt class="summary-list__key">Acquisition Type</dt>
          <dd class="summary-list__value">{{object.get_acquisition_type_display}}</dd>
        </div>
        {% endif %}
      </dl>
      {% if request.user.is_manager or request.user.is_superuser %}
      <a href="{% url 'orgs:edit' object.pk %}" class="btn btn--md btn--blue mr-10">Edit Organization</a>
      {% endif %}

      {% if request.user.is_org_admin or request.user.is_superuser %}
      <button class="btn btn--md btn--orange mt-10" data-toggle="modal" data-target="#modal-transfer-settings">Show Transfer Settings</button>
      {% endif %}
    </div>
    <div class="card card--container flex--column">
      <h2>Users</h2>
      <div>
        {% include 'parts/user_table.html' with users=object.active_users switch='Active' %}
        {% include 'parts/user_table.html' with users=object.inactive_users switch='Inactive' %}
        {% include 'parts/user_table.html' with users=object.org_admins switch='Org Admin' %}
      </div>
    </div>
  </div>
  <div class="org-settings">
    <div class="card card--container flex--column mb-30">
      {% include 'parts/profiles_box.html' %}
    </div>
    <div class="card card--container flex--column mb-30">
      {% include 'parts/rights_box.html' %}
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}
	{% include 'rights/modals/confirm_delete.html' %}
  {% if request.user.is_org_admin or request.user.is_superuser and object.s3_username %}
    {% include 'orgs/transfer_settings_modal.html' %}
  {% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/delete_object_js.js' %}"></script>
{% endblock %}
