{% extends 'transfers/base.html' %}
{% load tz static %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">

        <div class="box box-{% if object.is_active %}primary{% else %}danger{% endif %}">
            <div class="box-body box-profile">

                <h2 class="profile-username text-center">{{ object.name }}</h2>

                <ul class="list-group list-group-unbordered">
										<li class="list-group-item">
											<span class="list-label">Active?</span> <span class="pull-right">{% if object.is_active %}yes{% else %}no{% endif %}</span>
                    <li class="list-group-item">
                      <span class="list-label">Total Uploads</span> <span class="pull-right">{{ uploads_count }}</span>
                    </li>
										<li class="list-group-item">
                      <span class="list-label">Users</span> <span class="pull-right">{{ object.org_users|length }}</span>
                    </li>
										{% if object.acquisition_type %}
										<li class="list-group-item">
											<span class="list-label">Acquisition Type</span> <span class="pull-right">{{object.get_acquisition_type_display}}</span>
										</li>
										{% endif %}
                </ul>

                {% if request.user.is_org_admin or request.user.is_superuser %}
                  <p><a href="{% url 'orgs:edit' object.pk %}" class="btn btn-{% if object.is_active %}primary{% else %}danger{% endif %} btn-block">Edit Organization</a></p>
                  <p><button class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-transfer-settings">Show Transfer Settings</button></p>
                {% endif %}

            </div>
        </div>

				<div class="box box-{% if object.is_active %}primary{% else %}danger{% endif %}">
						<div class="box-header with-border">
								<h2 class="box-title">Users</h2>
						</div>
						<div class="box-body">
							{% include 'parts/user_table.html' with users=object.active_users switch='Active' %}
							{% include 'parts/user_table.html' with users=object.inactive_users switch='Inactive' %}
						</div>
				</div>

    </div>

		<div class="col-md-9">
			{% include 'parts/profiles_box.html' %}

			{% include 'parts/rights_box.html' %}

      <div class="box box-primary">
          <div class="box-header with-border">
              <h2 class="box-title">Recent Transfers</h2>
          </div>
          <div class="box-body">
            {% include 'parts/recent_transfer_table.html' with org=object %}
          </div>
      </div>
		</div>
	</div>
{% endblock %}

{% block modals %}
	{% include 'rights/modals/confirm_delete.html' %}
  {% if request.user.is_org_admin or request.user.is_superuser and object.s3_username %}
    {% include 'orgs/transfer_settings_modal.html' %}
  {% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/delete_object_js.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pointer_row.js' %}"></script>
{% endblock %}
