{% extends 'transfers/base.html' %}
{% load tz %}
{% load static %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block title_actions %}
{% if request.user.is_manager or request.user.is_superuser %}
  <a href="{% url 'orgs:add' %}" class="btn btn--md btn--blue">
    <span class="material-icon material-icon--space-after" aria-hidden="true">add</span>
    Add Organization
  </a>
{% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped" id="org-admin-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Acquisition Type</th>
      <th>Created</th>
      <th>Active?</th>
    </tr>
  <thead>
  <tbody>
  {% for org in object_list %}
  <tr>
    <td><a href="{% url 'orgs:detail' org.pk %}">{{ org.name }}</a></td>
    <td>{{ org.acquisition_type }}</td>
    <td>{{ org.created_time }}</td>
    <td>{% if org.is_active %}Yes{% else %}No{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
