{% extends 'transfers/base.html' %}
{% load tz %}
{% load static %}

{% block h1_title %}
  {% if request.user.is_archivist %}All{% else %}{{ request.user.organization }}{% endif %} {{page_title}}
{% endblock %}

{% block title_actions %}
  <a href="{% url 'transfers:data' %}" class="btn btn--md btn--blue">
    <span class="material-icon material-icon--space-after" aria-hidden="true">download</span>
    Download CSV
  </a>
{% endblock %}

{% block content %}
<div class="table-responsive">
	{% include 'parts/transfer_table.html' with uploads_count=org_uploads_count table_id='all_transfers' %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
		$.fn.dataTable.moment( 'MMM D, YYYY h:mm A' );
    new DataTable('#all_transfers', {
			createdRow: function(row, data, dataIndex) {
					$(row).attr('data-url', data[{% if request.user.is_archivist %}9{% else %}8{% endif %}]);
					$(row).addClass('pointer-row');
					$(row).attr('tabindex', 0)
  		},
      order: [[{% if request.user.is_archivist %}8{% else %}7{% endif %}, 'desc']],
			stateSave: true,
			processing: true,
      serverSide: true,
			fixedHeader: {
          headerOffset: $('.nav-center').outerHeight()
        },
      ajax: '{% url "transfers:datatable" %}'
    })
  })
</script>
<script type="text/javascript" src="{% static 'js/pointer_row.js' %}"></script>
{% endblock %}
