<div id="modal-transfer-settings" class="modal__overlay" aria-hidden="true">
  <div data-micromodal-close>
    <div tabindex="-1" class="modal modal--md" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <div class="modal__header">
        <h2 id="modalTitle" class="modal__header-title" class="modal-title">Transfer Settings</h2>
        <button class="modal__header-button" aria-label="Close" data-micromodal-close>
          <span class="material-icon" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal__body">
        <dl class="summary-list">
          <div class="summary-list__row">
            <dt class="summary-list__key">Upload Bucket</dt>
            <dd class="summary-list__value">{{ object.upload_target }}</dd>
          </div>
          <div class="summary-list__row">
            <dt class="summary-list__key">Amazon S3 Username</dt>
            <dd class="summary-list__value">{{ object.s3_username }}</dd>
          </div>
          <div class="summary-list__row">
            <dt class="summary-list__key">Amazon S3 Access Key ID (DART login)</dt>
            <dd class="summary-list__value">{{ object.s3_access_key_id }}</dd>
          </div>
          <div class="summary-list__row">
            <dt class="summary-list__key">Amazon S3 Secret Access Key (DART password)</dt>
            <dd class="summary-list__value">{{ object.s3_secret_access_key }}</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>