{% extends 'transfers/base.html' %}
{% load tz %}
{% load static %}

{% block h1_title %}
  {% if request.user.is_archivist %}All{% else %}{{ request.user.organization }}{% endif %} {{page_title}}
{% endblock %}

{% block title_actions %}
  <a href="{% url 'transfers:data' %}" class="btn btn--md btn--blue" aria-label="Download all transfers data as CSV">
    <span class="material-icon material-icon--space-after" aria-hidden="true">download</span>
    Download CSV
  </a>
{% endblock %}

{% block content %}
	{% include 'parts/transfer_table.html' with uploads_count=org_uploads_count table_id='all_transfers' %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    new DataTable('#all_transfers', {
			createdRow: function(row, data, dataIndex) {
          var transferPk = data[{% if request.user.is_archivist %}9{% else %}8{% endif %}];
          var transferName = data[0];

          // Set the Name cell content as a clickable link to the transfer detail page
          $('td', row).eq(0).html('<a href="' + transferPk + '">' + transferName + '</a>');
  		},
      order: [{% if request.user.is_archivist %}8{% else %}7{% endif %}, 'desc'],
			processing: true,
      serverSide: true,
			fixedHeader: true,
      ajax: '{% url "transfers:datatable" %}'
    })
  })
</script>
{% endblock %}
