{% extends 'transfers/base.html' %}
{% load static %}
{% load util %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}

<form action="" method="post" novalidate>{% csrf_token %}
	<div class="input-group mb-20">
		{{ form.is_active|with_aria_attrs }}
		<label for="{{ form.is_active.id_for_label }}" class="checkbox--blue">Active?</label>
	</div>
	<div class="input__form-layout">
		{% include 'rights/form_fields.html' with field=form.name %}
	</div>

	<div class="input__form-layout">
		{% include 'rights/form_fields.html' with field=form.acquisition_type %}
	</div>
	<div class="input--full-width">
		<button type="submit" class="btn btn--md btn--blue">Save</button>
		<a class="btn btn--md btn--gray" href="{% url 'orgs:list' %}">Cancel</a>
	</div>
</form>
{% endblock %}
