{% extends 'transfers/base.html' %}

{% block h1_title %}Appraisal Queue <small>{{uploads_count}} transfers</small>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">
        <div class="table-responsive">
         {% if not uploads_count %}
  				<div>No transfers to appraise</div>
  			 {% else %}
  				<table id="appraise_table" class="table table-striped dataTable">
  					<thead>
  						<tr>
  							<th>Transfer File Name</th>
                <th>Organization</th>
  							<th>Record Creators</th>
  							<th>Record Type</th>
  							<th>Transfer Date</th>
                <th></th>
  						</tr>
  					</thead>
  				</table>
  			{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block modals %}
  {% include 'appraise/edit_note.html' %}
  {% include 'appraise/detail_modal.html' %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var amodal = $("#modal-appraisal-note");
var dmodal = $("#modal-detail");
var url = '{% url 'appraise:list' %}';
var appraise_table = '';

  $(function () {
    $.fn.dataTable.moment( 'MMM D, YYYY h:mm A' );
    $('#appraise_table').DataTable({
        'createdRow': function(row, data, dataIndex) {
            $(row).attr('data-transfer-id', data[6]);
            $(row).attr('data-transfer-name', data[0]);
        },
        'order'       : [[4, 'desc']],
        'stateSave'   : true,
        'paging'      : true,
        'lengthChange': false,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true,
        'pageLength'  : 25,
        'processing': true,
        'serverSide': true,
        'ajax': '{% url "appraise:datatable" %}'
      })

    $("#appraise_table tbody").on("click", ".appraisal-note", function(e) {
        e.preventDefault();

        var bag_name = $(this).closest('tr').attr('data-transfer-name');
        var upload_id = $(this).closest('tr').attr('data-transfer-id');

        if (!$(this).hasClass('edit-note')){
          activateModal(upload_id, 'Add', bag_name);
          return false;
        }

        var data = {
          'req_type' : 'edit',
          'req_form' : 'appraise',
          'upload_id': upload_id
        };

        $.get(url,data, function(resp){
          if (resp.success){
            activateModal(upload_id, 'Edit', bag_name, resp.appraisal_note);
          } else {
            alert('Something went wrong! Please try again.');
          }
        });

        return false;
    });

    $("#appraise_table tbody").on("click", ".transfer-detail", function(e) {
        e.preventDefault();

        var bag_name = $(this).closest('tr').attr('data-transfer-name');
        var upload_id = $(this).closest('tr').attr('data-transfer-id');

        var data = {
          'req_form' : 'detail',
          'upload_id': upload_id
        };

        $.get(url, data, function(resp){
          if (resp.success){
            dmodal.find('.bag-name').text(bag_name);
            transfer_url = '{% url "transfers:detail" pk=1 %}';
            transfer_url = transfer_url.replace('1', upload_id);
            $.get(transfer_url, function(resp){
              console.log(resp)
              dmodal.find('.content').replaceWith($(resp).find('main.content'))
              dmodal.modal('show');
            })
          } else {
            alert('Something went wrong.. Please try again..');
          }
        });

        return false;
    });

    $('#appraisal-note-form').submit(function(e){
      e.preventDefault();
      var frm = $(this)
      var data = {
        'upload_id': frm.find('.upload_id').val(),
        'appraisal_note': frm.find('.appraisal_note').val(),
        'req_form' : 'appraise',
        'req_type' : 'submit'
      }

      //empty check, no need to submit
      if (data.appraisal_note.length < 2){
        alert('Note is too short!');
        return false;
      }

      //AJAX submit
      $.get(url,data,function(resp){
        if (resp.success){
          amodal.modal('hide');
          resolveRowCallback(data.upload_id, 'add');
        }
      });

      return false;
    });

    $('#delete-note').on('click', function(e){
      e.preventDefault();
      var frm = $('#appraisal-note-form')
      var data = {
        'upload_id': frm.find('.upload_id').val(),
        'appraisal_note': frm.find('.appraisal_note').val(),
        'req_form' : 'appraise',
        'req_type' : 'delete'
      }

      //AJAX submit
      $.get(url,data,function(resp){
        if (resp.success){
          amodal.modal('hide');
          resolveRowCallback(data.upload_id, 'delete');
        }
      });

      return false;
    });

    $("#appraise_table tbody").on("click", ".appraisal-accept, .appraisal-reject", function(e){
      e.preventDefault();
      var upload_row = $(this).closest('tr');
      var upload_id = upload_row.attr('data-transfer-id');
      var appraisal_decision = 0; // reject

      if ($(this).hasClass('appraisal-accept')){
        appraisal_decision = 1; //accept
      }
      var data = {
        'req_form': 'appraise',
        'req_type': 'decision',
        'upload_id': upload_id,
        'appraisal_decision': appraisal_decision
      }

      $.get(url, data, function(resp){
        if (resp.success){
          // remove row
          $( upload_row ).remove();
          decision = 'rejected'
          name = $(upload_row).children('td').first().text()
          if (appraisal_decision == 1) {
            displayMessage('success', 'Transfer <b>'+name+'</b> accepted.', true);
          } else {
            displayMessage('danger', 'Transfer <b>'+name+'</b> rejected.', true);
          }
        } else {
          displayMessage('danger', 'Something went wrong! Please try again.', false);
        }
      });

    });

  })

function activateModal(uid, label, bag_name, appraisal_note) {
  // setups up and opens modal
  amodal.find('.upload_id').val(uid);
  amodal.find('.add-or-edit-label').text(label);
  amodal.find('.bag-name').text(bag_name);
  amodal.find('.appraisal_note').val(appraisal_note);
  if (appraisal_note && appraisal_note.length) {
    amodal.find('#delete-note').show()
  } else {
    amodal.find('#delete-note').hide()
  }
  amodal.modal('show');
}

function resolveRowCallback(uid, action) {
  $('.appraisal-note').each(function(){
    if (action == 'add') {
      if ($(this).attr('rel') == uid){
        $(this).text('Edit Note');
        $(this).removeClass('btn-default');
        $(this).addClass('btn-info').addClass('edit-note');
      }
    } else {
      if ($(this).attr('rel') == uid){
        $(this).text('Add Note');
        $(this).removeClass('btn-info');
        $(this).addClass('btn-default').removeClass('edit-note');
      }
    }
  });
}

</script>
{% endblock %}
