{% extends 'transfer_app/base.html' %}
{% load tz %}

{% block h1_title %}
  {% if organization %}
  {{ organization.name }}
  {% else %}
  My Transfers
  {% endif %}
  <small>All Transfers</small>
  <a href="{% url 'orgs-transfer-data' organization.pk %}" class="btn btn-primary pull-right"><i class="fa fa-download"></i> Download CSV</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">
      	{% with uploads=object_list%}
          {% include 'parts/transfer_table.html' with table_id='all_transfers'%}
		    {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#all_transfers').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'pageLength'  : 25
    })
    $.fn.dataTable.moment( 'MMM. D, YYYY, h:m a' );
  })
</script>
{% endblock %}
