{% extends 'transfer_app/base.html' %}
{% load tz %}

{% block h1_title %}{{ object.name }}{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div class="row">
	<div class="col-md-12">
		<div class="top-button-blk pull-right">
			<a href="{% url 'orgs-edit' object.pk %}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit Organization</a>
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Users</h3>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-6">
						{% include 'parts/user_table.html' with users=object.active_users switch='Active' %}
					</div>
					<div class="col-md-6">
						{% include 'parts/user_table.html' with users=object.inactive_users switch='Inactive' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
				<li class="active"><a href="#tab_transfers" data-toggle="tab">Transfers</a></li>
				<li><a href="#tab_errors" data-toggle="tab">Errors</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_transfers">
                <b>How to use:</b>

                <p>Exactly like the original bootstrap tabs except you should use
                  the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                A wonderful serenity has taken possession of my entire soul,
                like these sweet mornings of spring which I enjoy with my whole heart.
                I am alone, and feel the charm of existence in this spot,
                which was created for the bliss of souls like mine. I am so happy,
                my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                that I neglect my talents. I should be incapable of drawing a single stroke
                at the present moment; and yet I feel that I never was a greater artist than now.
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_errors">
                The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.
              </div>

            </div>
            <!-- /.tab-content -->
          </div>
	</div>
</div>


	
	{% if not uploads %}
		<div>No Uploads</div>
	{% else %}
		<table>
			<thead>
				<tr>
					<th>Bag Name</th>
					<th>Is Bag?</th>
					<th>Processing Time</th>
					<th>User</th>
					<th>Size</th>
					<th>Uploaded At</th>
					<th>Upload Path</th>
				</tr>
			</thead>

			<tbody>
			{% for upload in uploads %}
				<tr>
					<td>{{ upload.bag_or_failed_name }}</td>
					<td>{% if upload.bag_it_valid %}YES{% else %}no{% endif %}</td>
					<td>{{ upload.created_time }}</td>
					<td>{{ upload.user_uploaded }}</td>
					<td>{{ upload.machine_file_size}}</td>
					<td>{{ upload.machine_file_upload_time}}</td>
					<td>{{ upload.machine_file_path}}</td>
				</tr>
				
			{% endfor %}
			</tbody>
		</table>

	{% endif %}

{% endblock %}