{% extends 'transfer_app/base.html' %}
{% load tz static %}

{% block h1_title %}
	Organization Profile
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">

        <div class="box box-{% if object.is_active %}primary{% else %}danger{% endif %}">
            <div class="box-body box-profile">

                <h3 class="profile-username text-center">{{ object.name }}</h3>

                <ul class="list-group list-group-unbordered">
										<li class="list-group-item">
											<b> Active?</b> <span class="pull-right">{% if object.is_active %}yes{% else %}no{% endif %}</span>
                    <li class="list-group-item">
                      <b>Total Uploads</b> <span class="pull-right">{{ uploads_count }}</span>
                    </li>
										<li class="list-group-item">
                      <b>Users</b> <span class="pull-right">{{ object.org_users|length }}</span>
                    </li>
										{% if object.acquisition_type %}
										<li class="list-group-item">
											<b>Acquisition Type</b> <span class="pull-right">{{object.get_acquisition_type_display}}</span>
										</li>
										{% endif %}
                </ul>

                {% if request.user.is_manager or request.user.is_superuser %}
                    <a href="{% url 'orgs-edit' object.pk %}" class="btn btn-{% if object.is_active %}primary{% else %}danger{% endif %} btn-block"><b>edit organization</b></a>
                {% endif %}

            </div>
        </div>

				<div class="box box-{% if object.is_active %}primary{% else %}danger{% endif %}">
						<div class="box-header with-border">
								<h3 class="box-title">Users </h3>
						</div>
						<div class="box-body">
							{% include 'parts/user_table.html' with users=object.active_users switch='Active' %}
							{% include 'parts/user_table.html' with users=object.inactive_users switch='Inactive' %}
						</div>
				</div>

    </div>

    <div class="col-md-9">
      <div class="box box-primary">
          <div class="box-header with-border">
              <h3 class="box-title">Recent Uploads</h3>
          </div>
          <div class="box-body">
            {% include 'parts/transfer_table.html' with org=object %}
          </div>
        </div>

				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Bag-It Profile</h3>
					</div>
					<div class="box-body">
								<div class="pull-left">bag it profile name</div>
								<div class="pull-right">
									<button href="#" class="btn btn-primary btn-sm">View</button>
									<button href="#" class="btn btn-warning btn-sm">Edit</button>
									<button href="#" class="btn btn-danger btn-sm">Delete</button>
								</div>
					</div>
				</div>

				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Rights Statements</h3>
						{% if request.user.is_manager or request.user.is_superuser %}<a href="{% url 'rights-add' %}?org={{object.pk}}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Rights Statement</a>{% endif %}
					</div>
					<div class="box-body {% if object.rights_statements %}no-padding{% endif %}">
						{% include 'parts/rights_table.html' with org=object %}
					</div>
				</div>

    </div>
</div>

{% endblock %}

{% block modals %}
	{% include 'rights/modals/confirm_delete.html' %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/rights_js.js' %}"></script>
{% endblock %}
