{% extends 'transfer_app/base.html' %}
{% load tz %}

{% block h1_title %}
  Organizations
  {% if request.user.is_superuser %}
    <a href="{% url 'orgs-add' %}" class="btn btn-primary pull-right"><i class="fa fa-edit"></i> Add Organization</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">

        <table class="table table-bordered" id="org-admin-table">
        	<thead>
        		<tr>
        			<th>Name</th>
        		</tr>
        	<thead>
        	<tbody>
        	{% for org in object_list %}
        	<tr onclick="window.open('{% url 'orgs-detail' org.pk %}','_self');" class="pointer-row">
        		<td>{{ org.name }}</td>
        	</tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

$(document).ready(function(){
	// $('#org-admin-table').DataTable({
		// data: org_admin,
	// });
});

</script>
{% endblock %}
