{% extends 'transfer_app/base.html' %}
{% load static %}
{% block h1_title %}{{ object.name }}<small>Organization Edit</small>{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-body">
				<form action="" method="post">{% csrf_token %}

					<div class="checkbox">
						<label>
							<input type="checkbox" name="is_active" {% if object.is_active %}checked{% endif %}> Active?
						</label>
					</div>

					<div class="form-group">
						<label for="id_name">Organization Name</label>
						<input type="text" name="name" value="{{ object.name }}" class="form-control" id="id_name" placeholder="Enter Name of Organization" maxlength="60" required>
					</div>

					<div class="form-group">
						<label for="acquisition_type">Acquisition Type</label>
						<select id="id_acquisition_type" name="acquisition_type" class="form-control">
							<option value=""> --- Select an acquisition type --- </option>
							{% for x,y in acquisition_types %}
						    <option value="{{ x }}"{% if object.acquisition_type == x %} selected{% endif %}>{{ y }}</option>
							{% endfor %}
            </select>
					</div>

					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="reset" class="btn btn-danger" onclick="window.open('{% url 'orgs-list' %}','_self')">Cancel</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Bag-It Profile</h3>
			</div>
			<div class="box-body">
						<div class="pull-left">bag it profile name</div>
						<div class="pull-right">
							<button href="#" class="btn btn-primary btn-sm">View</button>
							<button href="#" class="btn btn-warning btn-sm">Edit</button>
							<button href="#" class="btn btn-danger btn-sm">Delete</button>
						</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Rights Statements</h3>
				{% if request.user.is_superuser %}<a href="{% url 'rights-add' %}?org={{object.pk}}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Rights Statement</a>{% endif %}
			</div>
			<div class="box-body {% if object.rights_statements %}no-padding{% endif %}">
				{% include 'parts/rights_table.html' with org=object %}
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block modals %}
	{% include 'rights/modals/confirm_delete.html' %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/rights_js.js' %}"></script>
{% endblock %}
