{% extends 'transfers/base.html' %}
{% load tz %}

{% block h1_title %}
  Rights Statement <small>{{object.organization}}</small>
  <div class="pull-right">
    <a href="{% url 'orgs:detail' object.organization.pk %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back To Organization</a>
    {% if request.user.is_manager or request.user.is_superuser %}
      <a href="{% url 'rights:edit' object.pk %}" class="btn btn-warning">Edit Rights Statement</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="box box-info">
    	<div class="box-header with-border">
    		<h2 class="box-title">Applies to Record Type(s)</h2>
      </div>
      <div class="box-body">
        {% for t in object.applies_to_type.all %}<span class="label label-default">{{t}}</span> {% endfor %}
      </div>
    </div>

    <ul class="timeline">
      <li class="time-label">
        <span class="bg-blue">Rights Basis</span>
      </li>
      <li>
        <i class="fa fa-info bg-blue"></i>
        <div class="timeline-item">

          <h2 class="timeline-header">{{object.rights_basis}}</h2>

          <div class="timeline-body">
            {% include 'rights/rights_basis_info.html' %}
          </div>

        </div>
      </li>

      <li class="time-label">
        <span class="bg-teal">Rights Granted or Restricted</span>
      </li>

      {% for rights_granted in rights_granted_info %}
        {% include 'rights/rights_granted_info.html' %}
      {% endfor %}

      <li>
        <i class="fa fa-stop bg-gray"></i>
      </li>
    </ul>
  </div>
</div>


{% endblock %}
