{% extends 'transfers/base.html' %}

{% block h1_title %}{% if basis_form.instance.organization %}Edit{% else %}Create{% endif %} Rights Statement <small>{{organization}}</small>{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h2>Rights Basis</h2>
        <form role="form" action="" method="post">
          {% csrf_token %}
          <div class="box-body">
            {{ basis_form.management_form }}
            {{ basis_form.non_form_errors }}
            <!-- 'applies_to_type', 'rights_basis' -->
            {% for field in basis_form.visible_fields %}
              {% include 'rights/form_fields.html' with field=field %}
            {% endfor %}
            {% for hidden in basis_form.hidden_fields %}
              {{hidden}}
            {% endfor %}
            <div id="copyright_formset">
              {{ copyright_form.management_form }}
              {{ copyright_form.non_form_errors }}
              {% for form in copyright_form %}
                {% for hidden in form.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                <div class="row">
                  <div class="col-xs-4">
                    {% include 'rights/form_fields.html' with field=form.copyright_status %}
                  </div>
                  <div class="col-xs-4">
                    {% include 'rights/form_fields.html' with field=form.copyright_jurisdiction %}
                  </div>
                  <div class="col-xs-4">
                    {% include 'rights/form_fields.html' with field=form.copyright_status_determination_date %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <h3>Dates</h3>
                  </div>
                  <div class="row">
                    <div class="col-xs-6" style="border-right:1px solid #d2d6de;">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.copyright_start_date_period %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.copyright_end_date_period %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields for basis start and end dates which should be calculated based on creation dates of records in a transfer. Enter only whole numbers, for example: 10.</p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.copyright_applicable_start_date %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.copyright_applicable_end_date %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields if this basis has hardcoded start and end dates, for example the date a donor agreement was signed. These fields are seldom used for copyright.</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'rights/form_fields.html' with field=form.copyright_end_date_open %}
                {% include 'rights/form_fields.html' with field=form.copyright_note %}
              {% endfor %}
            </div>
            <div id='license_formset'>
              {{ license_form.management_form }}
              {{ license_form.non_form_errors }}
              {% for form in license_form %}
                {% for hidden in form.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                {% include 'rights/form_fields.html' with field=form.license_terms %}
                <div class="row">
                  <div class="col-xs-12">
                    <h3>Dates</h3>
                  </div>
                  <div class="row">
                    <div class="col-xs-6" style="border-right:1px solid #d2d6de;">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.license_start_date_period %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.license_start_date_period %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields for basis start and end dates which should be calculated based on creation dates of records in a transfer. Enter only whole numbers, for example: 10.</p>                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.license_applicable_start_date %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.license_applicable_end_date %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields if this basis has hardcoded start and end dates, for example the date a donor agreement was signed.</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'rights/form_fields.html' with field=form.license_end_date_open %}
                {% include 'rights/form_fields.html' with field=form.license_note %}
              {% endfor %}
            </div>
            <div id='statute_formset'>
              {{ statute_form.management_form }}
              {{ statute_form.non_form_errors }}
              {% for form in statute_form %}
                {% for hidden in form.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                <div class="row">
                  <div class="col-xs-4">
                    {% include 'rights/form_fields.html' with field=form.statute_jurisdiction %}
                  </div>
                  <div class="col-xs-4">
                    {% include 'rights/form_fields.html' with field=form.statute_citation %}
                  </div>
                  <div class="col-xs-4">
                    {% include 'rights/form_fields.html' with field=form.statute_determination_date %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <h3>Dates</h3>
                  </div>
                  <div class="row">
                    <div class="col-xs-6" style="border-right:1px solid #d2d6de;">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.statute_start_date_period %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.statute_end_date_period %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields if this basis has hardcoded start and end dates, for example the date a donor agreement was signed.</p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.statute_applicable_start_date %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.statute_applicable_end_date %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields if this basis has hardcoded start and end dates, for example the date a donor agreement was signed.</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'rights/form_fields.html' with field=form.statute_end_date_open %}
                {% include 'rights/form_fields.html' with field=form.statute_note %}
              {% endfor %}
            </div>
            <div id='other_formset'>
              {{ other_form.management_form }}
              {{ other_form.non_form_errors }}
              {% for form in other_form %}
                {% for hidden in form.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                {% include 'rights/form_fields.html' with field=form.other_rights_basis %}
                <div class="row">
                  <div class="col-xs-12">
                    <h3>Dates</h3>
                  </div>
                  <div class="row">
                    <div class="col-xs-6" style="border-right:1px solid #d2d6de;">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.other_rights_start_date_period %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.other_rights_end_date_period %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields for basis start and end dates which should be calculated based on creation dates of records in a transfer. Enter only whole numbers, for example: 10.</p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.other_rights_applicable_start_date %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.other_rights_applicable_end_date %}
                      </div>
                      <div class="col-xs-12">
                        <p class="help-text">Use these fields if this basis has hardcoded start and end dates, for example the date a donor agreement was signed.</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'rights/form_fields.html' with field=form.other_rights_end_date_open %}
                {% include 'rights/form_fields.html' with field=form.other_rights_note %}
              {% endfor %}
            </div>
            <div class="rights_granted_or_restricted">
            <h2>Rights Granted or Restricted</h2>
              {{ granted_formset.non_form_errors }}
              {{ granted_formset.management_form }}
              {% for form in granted_formset %}
                {% for hidden in form.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                <div id="{{ form.prefix }}-row" class="dynamic-form act">
                  <div id='granted_formset' class="well">
                    <div class="row">
                      <div class="col-xs-12">
                        <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row btn btn-sm btn-danger pull-right hidden"><i class="fa fa-times"></i> Delete Rights Granted or Restricted</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.act %}
                      </div>
                      <div class="col-xs-6">
                        {% include 'rights/form_fields.html' with field=form.restriction %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h3>Dates</h3>
                      </div>
                      <div class="row">
                        <div class="col-xs-6" style="border-right:1px solid #d2d6de;">
                          <div class="col-xs-6">
                            {% include 'rights/form_fields.html' with field=form.start_date_period %}
                          </div>
                          <div class="col-xs-6">
                            {% include 'rights/form_fields.html' with field=form.end_date_period %}
                          </div>
                          <div class="col-xs-12">
                            <p class="help-text">Use these fields for start and end dates which should be calculated based on creation dates of records in a transfer. Enter only whole numbers, for example: 10.</p>
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="col-xs-6">
                            {% include 'rights/form_fields.html' with field=form.start_date %}
                          </div>
                          <div class="col-xs-6">
                            {% include 'rights/form_fields.html' with field=form.end_date %}
                          </div>
                          <div class="col-xs-12">
                            <p class="help-text">Use these fields when permissions or restrictions have hardcoded start and end date, for example the date a donor agreement was signed .</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% include 'rights/form_fields.html' with field=form.end_date_open %}
                    {% include 'rights/form_fields.html' with field=form.rights_granted_note %}
                </div>
              </div>
        	    {% endfor %}
              <div>
      	        <a href="javascript:void(0)" class="add-row btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Rights Granted or Restricted</a>
    	       </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <a type="reset" class="btn btn-danger" href="{% url 'orgs:detail' organization.pk %}">Cancel</a>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  // logic to show appropriate subform
  function revealSelectedBasis() {
    var basis = $('#id_rights_basis').val()
    var formsets = {
        'Copyright': 'copyright_formset',
        'Statute':   'statute_formset',
        'License':   'license_formset',
        'Other':     'other_formset'
    }

    // hide all formsets except basis
    for (var key in formsets) {
      if (key != basis && formsets[key]) {
        $('#' + formsets[key]).hide();
      }
    }

    // if basis has a formset, show it
    if (formsets[basis]) {
      $('#' + formsets[basis]).show();
    }
  }

  function updateElementIndex(el, prefix, ndx) {
		var id_regex = new RegExp('(' + prefix + '-\\d+)');
		var replacement = prefix + '-' + ndx;
		if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		if (el.id) el.id = el.id.replace(id_regex, replacement);
		if (el.name) el.name = el.name.replace(id_regex, replacement);
	}

  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    var row = $('.dynamic-form:first').clone(true).get(0);
    updateElementIndex(row, prefix, formCount)
    $(row).insertAfter($('.dynamic-form:last')).children().children('.hidden').removeClass('hidden');
    $(row).find('[name^='+prefix+']').each(function() {
	    updateElementIndex(this, prefix, formCount);
	    $(this).val('');
    });
    $(row).find('.delete-row').click(function() {
	    deleteForm(this, prefix);
    });
    $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
  }

  function deleteForm(btn, prefix) {
    form = $(btn).closest('.dynamic-form')
		inputPrefix = $(form).attr('id').substr(0, $(form).attr('id').indexOf('-row'))
		$(form).children().append('<input type="hidden" name="'+inputPrefix+'-DELETE" id="id_'+inputPrefix+'-DELETE" value="true">').hide()
    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
  }

  function isFormEmpty(form) {
    var empty = true
		if ($(form).find('.has-error').length) {
			return false
		}
    $(form).find(':input[type!="hidden"][type!="checkbox"]').each(function(){
      if ($(this).val()) {
        $(this).find('.delete-row').removeClass("hidden")
          empty = false
          return false
      }
    })
    return empty
  }

  $(document).ready(function() {
    // Show/hide granted formset
    if ($('input#id_rightsstatementrightsgranted_set-INITIAL_FORMS')[0].value == 0 && !$('.dynamic-form.act').find('.has-error').length) {
      $('.dynamic-form.act').first().hide()
    }
    // active formset changer
    $('#id_rights_basis').change(revealSelectedBasis);
    revealSelectedBasis();
    $('.dynamic-form').each(function(){
			if (!isFormEmpty(this)) {
				$(this).find('.delete-row').removeClass("hidden")
			};
		})

    $('.add-row').click(function() {
      if ($('.dynamic-form.act').length == 1 && $('.dynamic-form.act').first().is(':hidden')) {
        $('.dynamic-form.act').first().show()
      } else {
        addForm(this, 'rightsstatementrightsgranted_set');
      }
    });
    $('.delete-row').click(function() {
	    deleteForm(this, 'rightsstatementrightsgranted_set');
    });
    $('.dynamic-form').on('change', function(e){
			if (isFormEmpty(this)) {
				$(this).find('.delete-row').addClass("hidden")
			} else {
				$(this).find('.delete-row').removeClass("hidden")
			};
			return false
		});

  });
</script>
{% endblock %}
