<header class="main-header">

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
                <li><!-- start notification -->
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
                <!-- end notification -->
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>

        <li>
          <h5 id="welcomeli"> Welcome Guest </h5>
        </li>

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown">
          </a>
          <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <p>
                  User Name
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                  <br>
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Admin</a>
                </div>
                  <br>
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Help</a>
                </div>
                  <br>
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat" id="signout">Sign out</a>
                </div>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>