<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      
      
      <li class="header">Admin Pages</li>
      <li class="treeview">
        <a href="{% url 'app_home' %}">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-building-o"></i> <span>Organizations</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'orgs-list' %}"><i class="fa fa-circle-o"></i> List</a></li>
          <li>
            <a href="{% url 'orgs-add' %}"><i class="fa fa-circle-o"></i> Add</a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="{% url 'ldap-users' %}">
          <i class="fa fa-server"></i> <span>LDAP Auth</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i> <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="{% url 'users-list' %}"><i class="fa fa-circle-o"></i> User List</a>
          </li>
          <li>
            <a href="{% url 'users-add' %}"><i class="fa fa-circle-o"></i> User Add</a>
          </li>
        </ul>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>