{% extends 'transfer_app/base.html' %}
{% load static %}
{% load tz %}

{% block h1_title %}
  Dashboard: <span id="orgName"></span>
  <div class="pull-right">
    <select id="context-switcher">

      {% for org in sorted_org_list %}
      <option value="{{org.0}}">{{org.1}}</option>
      {% endfor %}

    </select>
{% endblock %}

{% block content %}

{% for k, org in data.items %}
 {% include 'transfer_app/dashboard.html' %}
{% endfor %}

{% endblock %}

{% block extra_js %}
<script src="{% static "plugins/chartjs/Chart.js" %}"></script>

<script>
  $(function () {

    {% if request.user.is_archivist %}
    var context = 'all_orgs'
    var org_name = 'All Organizations'
    {% else %}
    var context = '{{request.user.organization.machine_name}}'
    var org_name = '{{request.user.organization.name}}'
    {% endif %}

    $('#context-switcher').on('change', function(){
      $('.content').children().hide();
      var newContext = $('#context-switcher').val();
      $('#'+newContext+'Data').show();
      $('#orgName').text($('#context-switcher option:selected').text());
    })

    {% for k, org in data.items %}

    var {{k}}PreviousYearData = {
      labels  : {{ org.month_labels|safe }},
      datasets: [
        {
          label               : 'Uploads',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : {{ org.upload_count_by_month|safe }}
        },
        {
          label               : 'Gigabytes',
          fillColor           : 'rgba(60,141,188,0.9)',
          strokeColor         : 'rgba(60,141,188,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : {{ org.upload_size_by_month|safe }}
        }
      ]
    }

    var areaChartOptions = {
      showScale               : true,
      scaleShowGridLines      : false,
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      scaleGridLineWidth      : 1,
      scaleShowHorizontalLines: true,
      scaleShowVerticalLines  : true,
      bezierCurve             : true,
      bezierCurveTension      : 0.3,
      pointDot                : false,
      pointDotRadius          : 4,
      pointDotStrokeWidth     : 1,
      pointHitDetectionRadius : 20,
      datasetStroke           : true,
      datasetStrokeWidth      : 2,
      datasetFill             : true,
      legendTemplate          : '',
      maintainAspectRatio     : true,
      responsive              : true
    }

    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas          = $('#{{k}}TransfersChart').get(0).getContext('2d')
    var lineChart                = new Chart(lineChartCanvas)
    var lineChartOptions         = areaChartOptions
    lineChartOptions.datasetFill = false
    lineChart.Line({{k}}PreviousYearData, lineChartOptions)

    //-------------
    //- DONUT CHART -
    //-------------
    var pieChartCanvas = $('#{{k}}RecordTypesPieChart').get(0).getContext('2d')
    var pieChart       = new Chart(pieChartCanvas)
    var {{k}}PieData        = [
      {
        value    : 700,
        color    : '#f56954',
        highlight: '#f56954',
        label    : 'Chrome'
      },
      {
        value    : 500,
        color    : '#00a65a',
        highlight: '#00a65a',
        label    : 'IE'
      },
      {
        value    : 400,
        color    : '#f39c12',
        highlight: '#f39c12',
        label    : 'FireFox'
      },
      {
        value    : 600,
        color    : '#00c0ef',
        highlight: '#00c0ef',
        label    : 'Safari'
      },
      {
        value    : 300,
        color    : '#3c8dbc',
        highlight: '#3c8dbc',
        label    : 'Opera'
      },
      {
        value    : 100,
        color    : '#d2d6de',
        highlight: '#d2d6de',
        label    : 'Navigator'
      }
    ]
    var pieOptions     = {
      segmentShowStroke    : true,
      segmentStrokeColor   : '#fff',
      segmentStrokeWidth   : 2,
      percentageInnerCutout: 50, // This is 0 for Pie charts
      animationSteps       : 100,
      animationEasing      : 'easeOutBounce',
      animateRotate        : true,
      animateScale         : false,
      responsive           : true,
      maintainAspectRatio  : true,
    }
    var chart = pieChart.Doughnut({{k}}PieData, pieOptions)

    {% endfor %}

    $('.content').children().hide();
    $('#'+context+'Data').show();
    $('#context-switcher').val(context);
    $('#orgName').text(org_name);

  })

</script>
{% endblock %}
