{% extends 'transfer_app/base.html' %}

{% block h1_title %}Dashboard{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-9">

    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Transfers from past year</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="lineChart" style="height: 249px; width: 542px;" width="542" height="249"></canvas>
        </div>
      </div>
      <!-- /.box-body -->
    </div>

  </div>

  <div class="col-md-3">

    {% comment %}
      Button group for add user, add organization, others
    {% endcomment %}

  </div>
</div>

<div class="row">
  <div class="col-md-6">

    {% comment %}
      Recent transfers table goes here
    {% endcomment %}

  </div>

  <div class="col-md-6">

    {% comment %}
      Bar chart for number of transfers in the current month versus the average transfers per month
    {% endcommment %}
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Transfers in {{month}}/Average transfers</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="transferNumberBarChart" style="height: 229px; width: 542px;" width="542" height="229"></canvas>
        </div>
      </div>
    </div>


    {% comment %}
      Bar chart for size of transfers in the current month versus the average transfer size
    {% endcommment %}
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Transfer size in {{month}}/Average transfer size</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="transferSizeBarChart" style="height: 229px; width: 542px;" width="542" height="229"></canvas>
        </div>
      </div>
    </div>

    {% comment %}
      Donut/pie chart for record types in transfers
    {% endcommment %}
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Record types in transfers</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <canvas id="recordTypesPieChart" style="height: 281px; width: 562px;" width="562" height="281"></canvas>
      </div>
    </div>

  </div>

</div>

{% endblock %}
