.container {
	margin: 0 15px;

	@media screen and (min-width: 580px) {
    margin: 0 30px;
  }
}

header {
	position: sticky;
	top: 0;
  z-index: 999;
	background-color: #ebeff4;
}

/**
* Adjust top position so that skip link is more visible in the header
**/
.skip-link {
  top: 0;
}

.header__brand {
  margin-left: 10px;
  margin-top: 23px;
  padding: 0;
  position: absolute;
  z-index: 3;

  @media screen and (min-width: 580px) {
    margin-left: 15px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 33px;
  }
}

/**
* Styles for clickable table rows
**/
.pointer-row {
	cursor: pointer;
}

.pointer-row:hover {
	background-color: #bcbab3 !important;
	outline: #2e2e2e 1px solid;
}

/* @import url('https://fonts.googleapis.com/css?family=Satisfy');

a:focus, .dropdown-toggle:focus {
	outline: auto;
}

a {
    color: #0073b7;
}

.h1 .small, .h1 small, .h2 .small, .h2 small,
.h3 .small, .h3 small, .h4 .small, .h4 small,
.h5 .small, .h5 small, .h6 .small, .h6 small,
h1 .small, h1 small, h2 .small, h2 small,
h3 .small, h3 small, h4 .small, h4 small,
h5 .small, h5 small, h6 .small, h6 small {
	color: #555;
}

.top-button-blk {
	margin-bottom: 20px;
}

h5.description-text {
    margin-top: 0;
}

.mar-top20 {
	margin-top: 20px;
}

.mar-top10{
	margin-top: 10px;
}

.box-comments {
    background: #ffffff;
}

.box-comment-icon {
	width: 30px;
	height: 30px;
	float: left !important;
	display: inline;
}
.box-comments .comment-text {
	margin-left: 50px;
}

.box-comments .comment-text p {
	margin-bottom: 0;
}

.green-transfer {
	color: #00a65a;
}
.red-transfer {
	color: #dd4b39;
}

.upload-title {
	font-weight: 600;
}

.login-page {
	background: url('/static/img/login-bg.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.login-logo a {
	color: #fff;
}

.login-credit {
	color: #fff;
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}

.login-logo {
	font-family: "Satisfy", cursive;
	font-size: 60px;
}

.main-header .logo {
	font-family: "Satisfy", cursive;
	font-size: 30px;
}

.content-header > .breadcrumb {
	display: block;
	position: relative;
}

.skin-blue .sidebar a {
    color: #d5e1e6;
}

.sidebar-menu {
	font-size: 1.5rem;
}

.skin-blue .sidebar-menu>li.header {
    color: #b8c7ce;
    background: #1a2226;
		font-size:1.3rem;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
	background-color: #5ea6d1;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	display: table;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
	margin-bottom: 10px;
	width: 180px;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
	width: 200px;
	padding: 0;
	border: none;
	margin-top: 2px;
}

.container {
    width: 98%;
    margin-left: 15px;
    margin-right: 15px;
}

#welcomeli {
    color: white;
    line-height: 32px;
    font-size: 16px;
		font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav {
    margin-right: 40px;
}

/* Scroll within modal */
#appraisal-note-form .modal-body {
    overflow: scroll;
    max-height: 600px;
}

/* Increases contrast of table striping */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.06);
}

div.dataTables_wrapper div.dataTables_filter {
    background: rgba(0, 0, 0, .12);
    padding: 1rem;
    border-radius: 3px;
		float: right;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-size: 1.5rem;
    margin-bottom: 0;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 30rem;
}

.list-label {
	font-weight: 600;
}

#resource_result h3 {
	margin-top: 0;
}

#context-switcher {float: none;}

@media (min-width: 768px) {
	.dl-horizontal dt {width:180px}
	.dl-horizontal dd {margin-left: 200px;}
}

@media (min-width: 590px) {
	#context-switcher {float: right;}
}

.force-wrap {
	overflow-wrap: break-word;
} */
