{% if rights_statements %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Record Type</th>
      <th>Basis</th>
      <th>Rights Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for statement in rights_statements %}
    <tr>
      <td>{{statement.applies_to_type}}</td>
      <td>{{statement.rights_basis}}</td>
      <td>{{statement.get_table_data.notes}}</td>
      <td class="text-right col-md-2">
        <a href="{% url 'rights-detail' statement.pk %}" class="btn btn-primary btn-sm">View</a>
        {% if request.user.is_superuser %}<a href="#" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'rights-delete' statement.pk %}" class="btn btn-danger btn-sm">Delete</a>{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{{object.name}} has no rights statements.</p>
{% endif %}
