<table class="table table-bordered dataTable">
  <thead>
    <tr>
      <th>Record Type</th>
      <th>Basis</th>
      <th>Rights Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>annual reports</td>
      <td>copyright</td>
      <td>rights basis note + act note</td>
      <td class="text-right">
        <button href="#" class="btn btn-primary btn-sm">View</button>
        <button href="#" class="btn btn-warning btn-sm">Edit</button>
        <button href="#" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>

  </tbody>
</table>
