{% extends 'transfer_app/base.html' %}

{% block h1_title %}Accessioning Queue{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">
      	{% with uploads=object_list%}
          {% if not uploads %}
        <div>No pending accessions</div>
          {% else %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Organization</th>
              <th>Record Creator(s)</th>
              <th>Record Type</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {% for upload in uploads %}
            <tr>
              <td>Ford Foundation</td>
              <td>Darren Walker</td>
              <td>grant records</td>
              <td><a href="{% url 'accession-record' %}" class="btn btn-primary pull-right">Accession <span class="badge">25 transfers</span></a></td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% endwith %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
