<div id="modal-warning" data-api-url="" class="modal__overlay" aria-hidden="true">
  <div data-micromodal-close>
    <div tabindex="-1" class="modal modal--sm" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <div class="modal__header">
        <h2 id="modalTitle" class="modal__header-title"></h2>
        <button class="modal__header-button" aria-label="Close" data-micromodal-close>
          <span class="material-icon" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal__body">
        <p>Are you sure you want to delete this?</p>
        <div class="mt-20">
            <button type="button" class="btn btn--sm btn--gray mr-5" data-micromodal-close>Cancel</button>
            <button type="button" class="btn btn--sm btn--orange object-modal-delete-button">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>