<div id="modal-confirm" class="modal__overlay" aria-hidden="true">
  <div data-micromodal-close>
    <div tabindex="-1" class="modal modal--md" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <div class="modal__header">
        <h2 id="modalTitle" class="modal__header-title">Reject Transfer</h2>
        <button class="modal__header-button" aria-label="Close" data-micromodal-close>
          <span class="material-icon" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal__body">
        <p>Are you sure you want to reject the transfer: <span class="transfer-name text--bold"></span>?</p>
        <form id="confirm-reject-form" method='get' class="form" role="form" action='.' >
          <input type="hidden" name="upload_id" class="upload_id" />
          <div class="input">
            <label for="appraisal_note">Appraisal Note</label>
            <textarea class="appraisal_note" id="appraisal_note" rows="5" aria-describedby="message-help"></textarea>
            <div id="message-help" class="input__help-text">A notification that includes this note will be sent to the user who uploaded the transfer.</div>
          </div>
          <div class="mt-20">
            <button type="button" class="btn btn--sm btn--gray" data-micromodal-close>Cancel</button>
            <button id="confirm-reject" type="submit" class="btn btn--sm btn--blue">Reject Transfer</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>