<!-- <div class="modal fade" id="modal-confirm" role="dialog" aria-labelledby="modal-appraisal-note-title", tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="confirm-reject-form" method='get' class="form" role="form" action='.' >
        <input type="hidden" name="upload_id" class="upload_id" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h1 id="modal-appraisal-note-title" class="modal-title">
            Are you sure you want to reject <span class="transfer-name"></span>
          </h1>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="appraisal_note">Appraisal Note</label>
            <textarea class="form-control appraisal_note" id="appraisal_note" rows="5"></textarea>
            <p class="help-block">A notification that includes this note will be sent to the user who uploaded the transfer.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <input id="confirm-reject" type="submit" class="btn btn-primary" value="Reject Transfer"/>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div id="modal-confirm" class="modal__overlay" aria-hidden="true">
  <div data-micromodal-close>
    <div tabindex="-1" class="modal modal--md" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <div class="modal__header">
        <h2 id="modalTitle" class="modal__header-title">Reject Transfer</h2>
        <button class="modal__header-button" aria-label="Close" data-micromodal-close>
          <span class="material-icon" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal__body">
        <p>Are you sure you want to reject the transfer: <span class="transfer-name text--bold"></span>?</p>
        <form id="confirm-reject-form" method='get' class="form" role="form" action='.' >
          <input type="hidden" name="upload_id" class="upload_id" />
          <div class="input">
            <label for="appraisal_note">Appraisal Note</label>
            <textarea class="appraisal_note" id="appraisal_note" rows="5" aria-describedby="message-help"></textarea>
            <div id="message-help" class="input__help-text">A notification that includes this note will be sent to the user who uploaded the transfer.</div>
          </div>
          <div class="mt-20">
            <button type="button" class="btn btn--sm btn--gray" data-micromodal-close>Cancel</button>
            <button id="confirm-reject" type="submit" class="btn btn--sm btn--blue">Reject Transfer</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>