<!-- <div class="modal fade" id="modal-appraisal-note" role="dialog" aria-labelledby="modal-appraisal-note-title", tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="appraisal-note-form" method='get' class="form" role="form" action='.' >
        <input type="hidden" name="upload_id" class="upload_id" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h1 id="modal-appraisal-note-title" class="modal-title">
            <span class="add-or-edit-label">Add</span> appraisal note for <span class="transfer-name"></span>
          </h1>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="appraisal_note">Appraisal Note</label>
            <textarea class="form-control appraisal_note" id="appraisal_note" rows="5"></textarea>
            <p class="help-block">If this transfer is rejected, a notification that includes this note will be sent to the user who uploaded the transfer.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button id="delete-note" style="display:none" class="pull-left btn btn-warning">Delete Note</button>
          <button type="cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Save Note"/>
        </div>
      </form>
    </div>
  </div>
</div> -->


<div id="modal-appraisal-note" class="modal__overlay" aria-hidden="true">
  <div data-micromodal-close>
    <div tabindex="-1" class="modal modal--md" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <div class="modal__header">
        <h2 id="modalTitle" class="modal__header-title">Add or Edit Note</h2>
        <button class="modal__header-button" aria-label="Close" data-micromodal-close>
          <span class="material-icon" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal__body">
        <p><span class="add-or-edit-label">Add</span> appraisal note for transfer: <span class="transfer-name text--bold"></span></p>
        <form id="appraisal-note-form" method='get' class="form" role="form" action='.' >
          <input type="hidden" name="upload_id" class="upload_id" />
          <div class="input">
            <label for="appraisal_note">Appraisal Note</label>
            <textarea class="appraisal_note" id="appraisal_note" rows="5" aria-describedby="message-help"></textarea>
            <div id="message-help" class="input__help-text">If this transfer is rejected, a notification that includes this note will be sent to the user who uploaded the transfer.</div>
          </div>
          <div class="title__container mt-20">
            <button id="delete-note" style="display:none" class="btn btn--sm btn--orange mb-5">Delete Note</button>
            <div>
              <button type="button" class="btn btn--sm btn--gray mr-5" data-micromodal-close>Cancel</button>
              <button type="submit" class="btn btn--sm btn--blue">Save Note</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
