{% extends 'transfers/base.html' %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
{% if not uploads_count %}
<p>No transfers to appraise</p>
{% else %}
<div class="table-responsive">
  <table id="appraise_table" class="table table-striped dataTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Record Creators</th>
        <th>Record Type</th>
        <th>Transfer Time</th>
        <th>Action</th>
      </tr>
    </thead>
  </table>
</div>
{% endif %}

{% endblock %}

{% block modals %}
  {% include 'appraise/edit_note.html' %}
  {% include 'appraise/confirm_modal.html' %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var amodal = $("#modal-appraisal-note");
var cmodal = $("#modal-confirm");
var url = '{% url 'appraise:list' %}';
var appraise_table = '';

$(function () {
  $.fn.dataTable.moment( 'MMM D, YYYY h:mm A' );
  $('#appraise_table').DataTable({
      columnDefs: [
        {
          width: "20%",
          targets: [5]
        }
      ],
      createdRow: function(row, data, dataIndex) {
        var nameCell = $('td', row).eq(0);
        var transferPk = data[6];
        var transferName = data[0];
        var transferUrl = '{% url "transfers:detail" 0 %}'.replace('0', transferPk);

        // Set the Name cell content as a clickable link to the transfer detail page
        $('td', row).eq(0).html('<a href="' + transferUrl + '">' + transferName + '</a>');

        $(row).attr('data-transfer-id', data[6]);
        $(row).attr('data-transfer-name', data[0]);
      },
      order: [[4, 'desc']],
      stateSave: true,
      processing: true,
      serverSide: true,
      fixedHeader: {
        headerOffset: $('.nav-center').outerHeight()
      },
      ajax: '{% url "appraise:datatable" %}'
    })

  // Open appraisal note modal
  $("#appraise_table tbody").on("click", ".appraisal-note", function(e) {
      e.preventDefault();
      var bagData = getDataFromAttributes($(this).closest('tr'))
      if (!$(this).hasClass('edit-note')){
        activateModal(bagData.upload_id, 'Add', bagData.transfer_name);
        return false;
      }
      var data = {
        'req_type' : 'edit',
        'req_form' : 'appraise',
        'upload_id': bagData.upload_id
      };
      $.get(url, data, function(resp){
        if (resp.success){
          activateModal(bagData.upload_id, 'Edit', bagData.transfer_name, resp.appraisal_note);
        } else {
          alert('Something went wrong! Please try again.');
        }
      });
      return false;
  });

  // Confirm reject transfer
  $("#appraise_table tbody").on("click", ".appraisal-reject", function(e) {
    e.preventDefault();
    var bagData = getDataFromAttributes($(this).closest('tr'))
    cmodal.find('.transfer-name').text(bagData.transfer_name);
    cmodal.find('.upload_id').val(bagData.upload_id)
    cmodal.modal('show');
    return false;
  })

  // Delete appraisal note
  $('#delete-note').on('click', function(e){
    e.preventDefault();
    var data = prepareNoteData($('#appraisal-note-form'), 'delete')
    saveNote(data, amodal);
    resolveRowCallback(data.upload_id, 'delete')
    return false;
  });

  // Add or edit appraisal note
  $('#appraisal-note-form').submit(function(e){
    e.preventDefault();
    var data = prepareNoteData($(this), 'submit')
    saveNote(data, amodal);
    resolveRowCallback(data.upload_id, 'add')
    return false;
  });

  // Accept transfer
  $("#appraise_table tbody").on("click", ".appraisal-accept", function(e){
    e.preventDefault();
    var upload_row = $(this).closest('tr');
    var bagData = getDataFromAttributes(upload_row);
    handleAppraisalDecision(upload_row, bagData.upload_id, 1);
  });

  // Reject transfer
  $("#confirm-reject-form").submit(function(e){
    e.preventDefault();
    var data = prepareNoteData($(this), 'submit')
    var upload_row = $("#appraise_table tbody").find('tr[data-transfer-id='+data.upload_id+']');
    saveNote(data, cmodal);
    handleAppraisalDecision(upload_row, data.upload_id, 0);
  });
})

function handleAppraisalDecision(upload_row, upload_id, code) {
  var decision = (code == 1) ? 'accepted':'rejected'
  var data = {
    'req_form': 'appraise',
    'req_type': 'decision',
    'upload_id': upload_id,
    'appraisal_decision': code
  }
  $.get(url, data, function(resp){
    if (resp.success){
      handleRemoveRow(upload_row, decision)
    } else {
      displayMessage('orange', 'Something went wrong! Please try again.', false);
    }
  });
}

function prepareNoteData(form, req_type) {
  return {
    'upload_id': form.find('.upload_id').val(),
    'appraisal_note': form.find('.appraisal_note').val(),
    'req_form' : 'appraise',
    'req_type' : req_type
  }
}

function getDataFromAttributes(rootElement) {
  return {
    transfer_name: rootElement.attr('data-transfer-name'),
    upload_id: rootElement.attr('data-transfer-id')
  }
}

function handleRemoveRow(row, action) {
  var cls = (action == 'accepted') ? 'blue':'orange'
  var name = $(row).children('td').first().text()
  $(row).remove()
  displayMessage(cls, 'Transfer <b>'+name+'</b> '+action+'.', true);
}

function saveNote(data, modal) {
  if (checkNoteLength(data.appraisal_note)) {
    $.get(url,data,function(resp){
      if (resp.success){
        modal.modal('hide');
        return true;
      } else {
        return false;
      }
    });
  }
}

function checkNoteLength(note) {
    if (note.length && note.length < 2){
      alert('Note is too short!');
      return false;
    } else {
      return true;
    }
}

// setups up and opens appraisal note modal
function activateModal(uid, label, transfer_name, appraisal_note) {
  amodal.find('.upload_id').val(uid);
  amodal.find('.add-or-edit-label').text(label);
  amodal.find('.transfer-name').text(transfer_name);
  amodal.find('.appraisal_note').val(appraisal_note);
  if (appraisal_note && appraisal_note.length) {
    amodal.find('#delete-note').show()
  } else {
    amodal.find('#delete-note').hide()
  }
  amodal.modal('show');
}

function resolveRowCallback(uid, action) {
  $('.appraisal-note').each(function(){
    if (action == 'add') {
      if ($(this).parents('tr').data('transfer-id') == uid){
        $(this).text('Edit Note');
        $(this).addClass('edit-note');
        $(this).attr('aria-label', 'Edit existing note');
      }
    } else {
      if ($(this).parents('tr').data('transfer-id') == uid){
        $(this).text('Add Note');
        $(this).removeClass('edit-note');
        $(this).addClass('btn-info');
        $(this).removeAttr('aria-label')
      }
    }
  });
}

</script>
{% endblock %}
