{% extends 'transfers/base.html' %}
{% load tz %}

{% block h1_title %}
  {{page_title}}: {{object.organization}}
{% endblock %}

{% block title_actions %}
<div>
  <a href="{% url 'orgs:detail' pk=object.organization.pk %}" class="btn btn--md btn--gray mr-10">
    <span class="material-icon material-icon--space-after" aria-hidden="true">keyboard_arrow_left</span>
    Back to Organization
  </a>
  {% if request.user.is_manager or request.user.is_superuser %}
  <a href="{% url 'rights:edit' object.pk %}" class="btn btn--md btn--blue">
    Edit Rights Statement
  </a>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="box box-info">
    	<div class="box-header with-border">
    		<h2 class="box-title">Applies to Record Type(s)</h2>
      </div>
      <div class="box-body">
        {% for t in object.applies_to_type.all %}<span class="label label-default">{{t}}</span> {% endfor %}
      </div>
    </div>

    <ul class="timeline">
      <li class="time-label">
        <span class="bg-blue">Rights Basis</span>
      </li>
      <li>
        <i class="fa fa-info bg-blue"></i>
        <div class="timeline-item">

          <h2 class="timeline-header">{{object.rights_basis}}</h2>

          <div class="timeline-body">
            {% include 'rights/rights_basis_info.html' %}
          </div>

        </div>
      </li>

      <li class="time-label">
        <span class="bg-teal">Rights Granted or Restricted</span>
      </li>

      {% for rights_granted in object.rights_granted.all %}
        {% include 'rights/rights_granted_info.html' %}
      {% endfor %}

      <li>
        <i class="fa fa-stop bg-gray"></i>
      </li>
    </ul>
  </div>
</div>


{% endblock %}
