{% extends 'transfers/base.html' %}
{% load tz %}

{% block h1_title %}
  {{page_title}}: {{object.organization}}
{% endblock %}

{% block title_actions %}
<div>
  <a href="{% url 'orgs:detail' pk=object.organization.pk %}" class="btn btn--md btn--gray mr-10">
    <span class="material-icon material-icon--space-after" aria-hidden="true">keyboard_arrow_left</span>
    Back to Organization
  </a>
  {% if request.user.is_manager or request.user.is_superuser %}
  <a href="{% url 'rights:edit' object.pk %}" class="btn btn--md btn--blue">
    Edit Rights Statement
  </a>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="card card--container flex--column mt-30 mb-60">
  <h2>Applies to Record Type(s)</h2>
  <ol class="list--unstyled list__badge">
    {% for t in object.applies_to_type.all %}<li><span class="badge badge--light-blue">{{t}}</span></li> {% endfor %}
  </ol>
</div>

<h2>Rights Basis</h2>
<div class="card card--container flex--column ml-30 mb-60">
  <h3 class="heading--dotted-border pb-8 mb-20">{{object.rights_basis}}</h3>
  {% include 'rights/rights_basis_info.html' %}
</div>

<h2>Rights Granted or Restricted</h2>
{% for rights_granted in object.rights_granted.all %}
  <div class="card card--container card--blue flex--column ml-30 mb-30">
    {% include 'rights/rights_granted_info.html' %}
  </div>
{% endfor %}
{% endblock %}
