
<h3 class="heading--dotted-border mb-20">{{rights_granted.act}} <span class="mt-0 badge badge--{% if rights_granted.restriction == 'disallow' %}red{% elif rights_granted.restriction == 'allow' %}green{% else %}yellow{% endif %}">{{rights_granted.restriction}}</span></h3>
<div class="summary-list ml-20">
  {% if rights_granted.start_date %}
    <div class="summary-list__row">
      <dt class="summary-list__key">Applicable Dates</dt>
      {% if rights_granted.end_date %}
        <dd class="summary-list__value">{{ rights_granted.start_date }} - {{ rights_granted.end_date }}</dd>
      {% elif rights_granted.end_date_open %}
        <dd class="summary-list__value">{{ rights_granted.start_date }} - OPEN</dd>
      {% else %}
        <dd class="summary-list__value">{{ rights_granted.start_date }}</dd>
      {% endif %}
    </div>
  {% elif rights_granted.end_date_period %}
    <div class="summary-list__row">
      <dt class="summary-list__key">Applicable Date Rules</dt>
      <dd class="summary-list__value">{{ rights_granted.end_date_period }} years after end date</dd>
    </div>
  {% else %}
    <div class="summary-list__row">
      <dt class="summary-list__key">Applicable Date Rules</dt>
      <dd class="summary-list__value">{{ rights_granted.start_date_period }} years after start date</dd>
    </div>
  {% endif %}
  <div class="summary-list__row">
    <dt class="summary-list__key">Note</dt>
    <dd class="summary-list__value">{{ rights_granted.rights_granted_note }}</dd>
  </div>
</div>


