{% extends 'transfer_app/base.html' %}

{% block h1_title %}Change Password{% endblock %}

{% block content %}
<div class="box box-primary">
  <form method="post">
    {% csrf_token %}
    <div class="box-body">
      {{ form }}
    </div>
    <div class="box-footer">
      <button class="btn btn-primary" type="submit">Save changes</button>
      <button class="btn btn-danger" type="reset" onclick="window.open('{{request.META.HTTP_REFERER}}', '_self')">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}
