<div class="box">
  {% if list_type == "org" %}
  <div class="box-header with-border">
    <h3 class="box-title">{{ blk.org.name }}</h3>
  </div>
  {% endif %}
  <div class="box-body">
    {% if not blk.users %}
      <div class="info">There are no users at this organization.</div>
    {% else %}
      <table class="table table-bordered" id="org-admin-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Active?</th>
          </tr>
        <thead>
        <tbody>
        {% for u in blk.users %}
        <tr onclick="window.open('{% url 'users-detail' u.pk %}','_self')" class="pointer-row">
          <td>{{ u.username }}</td>
          <td>{% if u.is_active %}{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
