<!DOCTYPE html>
<html>
  <head>
    {% include 'transfers/head.html' %}
    {% block extra_css %}{% endblock %}
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Main Header -->
      {% include 'transfers/header.html' %}

      <!-- Left Sidebar -->
      {% include 'transfers/left_sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>{% block h1_title %}{% endblock %}</h1>
          {% comment %}
          <ol id="breadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
          {% endcomment %}
        </section>


        <!-- Main content -->
        <section class="content">

          <div id="messages">{% include 'transfers/messages.html' %}</div>

        {% block content %}{% endblock %}
        </section>
      </div>

      <!-- Main Footer -->
      {% include 'transfers/footer.html' %}


      {% include 'transfers/sidebar.html' %}

      {% block modals %}{% endblock %}

      <!-- REQUIRED JS SCRIPTS -->
      {% include 'transfers/js_scripts.html' %}
      {% block extra_js %}{% endblock %}

    </div>
  </body>
</html>
