<!-- sidebar: style can be found in sidebar.less -->
<section class="main-sidebar sidebar" style="height: auto;">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">

      <li>
        <a href="{% url 'app_home' %}">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{% url 'transfers:list' %}">
          <i class="fa fa-exchange"></i> <span>Transfers</span>
        </a>
      </li>
      {% if request.user.is_staff %}
      <li>
        <a href="{% url 'appraise:list' %}">
          <i class="fa fa-check-square-o"></i> <span>Appraise</span>
        </a>
      </li>
      <li>
        <a href="{% url 'accession:list' %}">
          <i class="fa fa-pencil-square-o"></i> <span>Accession</span>
        </a>
      </li>
      {% endif %}

      {% if request.user.is_staff %}
      <li class="header">Administration</li>
      <li>
        <a href="{% url 'orgs:list' %}">
          <i class="fa fa-building-o"></i> <span>Organizations</span>
        </a>
      </li>
      <li>
        <a href="{% url 'users:list' %}">
          <i class="fa fa-users"></i> <span>Users</span>
        </a>
      </li>
      {% endif %}
      <li class="header">Developer Resources</li>
      <li>
        <a href="{% url 'api-root' %}">
          <i class="fa fa-plug"></i> <span>Browseable API</span>
        </a>
      </li>
      <li>
        <a href="{% url 'schema-json' ".json" %}">
          <i class="fa fa-object-group"></i> <span>OpenAPI Schema</span>
        </a>
      </li>
    </li>

  </ul>
</section>
