{% extends 'transfers/base.html' %}
{% load static %}
{% load tz %}

{% block h1_title %}
  {{page_title}}: <span id="orgName"></span>
    <select id="context-switcher" aria-label="Select organizational context">

      {% for org in sorted_org_list %}
      <option value="{{org.0}}">{{org.1}}</option>
      {% endfor %}

    </select>
{% endblock %}

{% block content %}

{% for k, org in data.items %}
 {% include 'transfers/dashboard.html' %}
{% endfor %}

{% endblock %}

{% block extra_js %}
<script src="{% static "plugins/chartjs/Chart.js" %}"></script>

<script>
  $(function () {

    {% if request.user.is_archivist %}
    var context = 'all_orgs'
    var org_name = 'All Organizations'
    {% else %}
    var context = '{{request.user.organization.machine_name}}'
    var org_name = '{{request.user.organization.name}}'
    {% endif %}

    $('#context-switcher').on('change', function(){
      $('.content').children().hide();
      var newContext = $('#context-switcher').val();
      $('#'+newContext+'Data').show();
      $('#orgName').text($('#context-switcher option:selected').text());
    })

    {% for k, org in data.items %}

    var {{k}}PreviousYearData = {
      labels  : {{ org.month_labels|safe }},
      datasets: [
        {
          label               : 'Uploads',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : {{ org.upload_count_by_month|safe }}
        },
        {
          label               : 'Gigabytes',
          fillColor           : 'rgba(60,141,188,0.9)',
          strokeColor         : 'rgba(60,141,188,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : {{ org.upload_size_by_month|safe }}
        }
      ]
    }

    var areaChartOptions = {
      showScale               : true,
      scaleShowGridLines      : false,
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      scaleGridLineWidth      : 1,
      scaleShowHorizontalLines: true,
      scaleShowVerticalLines  : true,
      bezierCurve             : true,
      bezierCurveTension      : 0.3,
      pointDot                : false,
      pointDotRadius          : 4,
      pointDotStrokeWidth     : 1,
      pointHitDetectionRadius : 20,
      datasetStroke           : true,
      datasetStrokeWidth      : 2,
      datasetFill             : true,
      legendTemplate          : '',
      maintainAspectRatio     : true,
      responsive              : true
    }

    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas          = $('#{{k}}TransfersChart').get(0).getContext('2d')
    var lineChart                = new Chart(lineChartCanvas)
    var lineChartOptions         = areaChartOptions
    lineChartOptions.datasetFill = false
    lineChart.Line({{k}}PreviousYearData, lineChartOptions)

    //-------------
    //- DONUT CHART -
    //-------------
    if ($('#{{k}}YearRecordTypesPieChart').length){
      var yearPieChartCanvas = $('#{{k}}YearRecordTypesPieChart').get(0).getContext('2d')
      var yearPieChart       = new Chart(yearPieChartCanvas)
      var {{k}}YearPieData        = [
        {% for record_type in org.record_types_by_year %}
              {
                value    : {{record_type.value}},
                color    : "{{record_type.color}}",
                highlight: "{{record_type.color}}",
                label    : "{{record_type.label}}"
              }{% if not forloop.last %},{%endif%}

        {% endfor %}
      ]
      var pieOptions     = {
        segmentShowStroke    : true,
        segmentStrokeColor   : '#fff',
        segmentStrokeWidth   : 2,
        percentageInnerCutout: 0, // This is 0 for Pie charts
        animationSteps       : 100,
        animationEasing      : 'easeOutBounce',
        animateRotate        : true,
        animateScale         : false,
        responsive           : false,
        maintainAspectRatio  : true,
        legendTemplate       :
          '<ul class="chart-legend">' +
          {% for record_type in org.record_types_by_year %}
            '<li><i class="fa fa-circle-o" style="color: {{record_type.color}}"></i> {{record_type.label}}</li>' +
          {% endfor %}
          '</ul>'
      }
      var chart = yearPieChart.Doughnut({{k}}YearPieData, pieOptions);
      var legend = chart.generateLegend();
      $('#{{k}}YearRecordTypesPieChartLegend').append(legend);
    }

    {% endfor %}

    $('.content').children().hide();
    $('#'+context+'Data').show();
    $('#context-switcher').val(context);
    $('#orgName').text(org_name);

  })


</script>
{% endblock %}
