{% if messages %}
<div class="row">
	<div class="col-md-12">
		{% for message in messages %}
		<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} {% if message.tags != 'error' %}alert-dismissible{% endif %}">
			{% if message.tags != 'error' %}
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{% endif %}
			{% if message.tags == 'success' %}
				<i class="icon fa fa-check"></i>
			{% endif %}
			{{ message }}
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
