{% extends 'transfers/base.html' %}
{% load tz %}
{% load static %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">

        <div class="box box-primary">
            <div class="box-body box-profile">

                <h2 class="profile-username text-center">
                  {% if object.first_name %}{{object.first_name}} {{object.last_name}} <small>{{ object.username }}</small>
                  {% else %}
                  {{ object.username }}
                  {% endif %}
                </h2>

                {% if object.organization %}
                <p class="text-muted text-center">
                    <a href="{% url 'orgs:detail' object.organization.pk %}">{{ object.organization.name }}</a>
                </p>
                {% endif %}


                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <span class="list-label">Last login</span> <span class="pull-right">{{ object.last_login }}</span>
                    </li>
                </ul>

                {% if request.user.is_manager or request.user.is_superuser %}
                    <a href="{% url 'users:edit' object.pk %}" class="btn btn-primary btn-block">Edit User</a>
                {% endif %}
                {% if request.user.pk == object.pk %}
                    <a href="{% url 'users:password-change' %}" class="btn btn-default btn-block">Change Password</a>
                {% endif %}

            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">Details </h2>
            </div>
            <div class="box-body">
                <span class="list-label"><i class="fa fa-user margin-r-5"></i> Active?</span>
                <p>{% if object.is_active %}yes{% else %}no{% endif %}</p>

                <hr/>

                <span class="list-label"><i class="fa fa-envelope margin-r-5"></i> Email</span>
                <p>{{ object.email }}</p>

                <hr/>

                <span class="list-label"><i class="fa fa-pencil margin-r-5"></i> Groups</span>
                <p>
                  {% for group in object.groups.all %}
                    <span class="label label-default">{{ group.name }}</span>
                  {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/pointer_row.js' %}"></script>
{% endblock %}
