{% extends 'transfers/base.html' %}
{% load tz %}
{% load static %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block title_actions %}
{% if request.user.is_manager or request.user.is_superuser %}
  <a href="{% url 'users:add' %}" class="btn btn--md btn--blue">
    <span class="material-icon material-icon--space-after" aria-hidden="true">add</span>
    Add User
  </a>
{% endif %}
{% endblock %}

{% block content %}
<div class="table-responsive">
  {% for blk in users_list %}
  <table id="user-table" class="table table-striped dataDatble">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Organization</th>
        <th>Groups</th>
        <th>Last Login</th>
        <th>Org Admin?</th>
        <th>Active?</th>
      </tr>
    <thead>
    <tbody>
    {% for u in blk.users %}
    <tr>
      <td><a href="{% url 'users:detail' u.pk %}">{{u.first_name}} {{u.last_name}}</a></td>
      <td>{{ u.username }}</td>
      <td>{{ u.organization }}</td>
      <td>{% for group in u.groups.all %}
        <div class="badge badge--light-blue my-3">{{ group.name }}</div>
      {% endfor %}</td>
      <td>{{ u.last_login }}</td>
      <td>{% if u.is_org_admin %}Yes{% else %}No{% endif %}</td>
      <td>{% if u.is_active %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  new DataTable('#user-table')
</script>
{% endblock %}