{% extends 'transfers/login_base.html' %}
{% block content %}
<div class="card card--container flex--column py-30 px-60">
  <form action="." method="post">
    {{ form.non_field_errors }}

    {% csrf_token %}
    <p>Sign in to start your session</p>
    <div class="input mb-10">
      <label for="{{ form.username.id_for_label }}">Username</label>
      <input type="text" name="username" id="{{ form.username.id_for_label }}" class="input" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" />
      {{ form.username.errors }}
    </div>
    <div class="input mb-10">
      <label for="{{ form.password.id_for_label }}">Password</label>
      <input autocomplete="off" name="password" id="{{ form.password.id_for_label }}" type="password" class="input" value="{% if form.password.value %}{{ form.password.value }}{% endif %}" />
      {{ form.password.errors}}
    </div>
    <a href="{% url 'password_reset' %}">I forgot my password</a>
    <div class="input--full-width">
      <button type="submit" class="mt-10 btn btn--sm btn--blue">Sign In</button>
    </div>
  </form>
</div>
{% endblock %}
