{% autoescape off %}
Somebody (probably you) asked to reset the password for the Aurora account with
the username {{ user.get_username }}.

To initiate the password reset process click the link below, or copy and paste
the URL into a browser:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If this link has already expired, simply go to {{ protocol }}://{{ domain }}{% url 'password_reset' %}, and enter
your email address to receive a new link.

If this email was sent in error, please ignore this request.
{% endautoescape %}
