{% extends 'transfers/login_base.html' %}

{% block content %}
<div class="card card--container flex--column py-30 px-60">
  <h2>Enter your email address</h2>

  <form action="." method="post" novalidate>
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="input mb-20">
      {{form}}
    </div>
    <button type="submit" class="btn btn--sm btn--blue">Submit</button>
    <button type="reset" class="btn btn--sm btn--orange" onclick="window.open('{% url 'login' %}', '_self')">Cancel</button>
  </form>
</div>
{% endblock %}
