{% extends 'transfers/login_base.html' %}

{% block content %}
<div class="login-box-body">
  <h2 class="page-header text-center">Password reset email sent!</h2>
  <p class="login-box-msg">If an account exists with the email you entered, we've emailed you instructions for resetting your password.
    You should receive them shortly.</p>
    <p class="login-box-msg">If you don't receive an email, please make sure you entered the address you registered with,
    and check your spam folder.</p>
</div>
{% endblock %}
