{% autoescape off %}
A new account with the username "{{ user.get_username }}" was created for you in Aurora.

Please set your password by clicking on the link below, or copying and pasting the URL into your browser:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If this link has already expired, simply go to {{ protocol }}://{{ domain }}{% url 'password_reset' %}, and enter
your email address to receive a new link.
{% endautoescape %}
