{% extends 'transfers/base.html' %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
      <div class="input__error">{{ error }}</div>
  {% endfor %}
  </div>
{% endif %}

<div class="card card--container flex--column">
  <form method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="input__form-layout">
      {% include 'rights/form_fields.html' %}
    </div>
    {% endfor %}

    <div>
      <button class="btn btn--md btn--blue" type="submit">Save changes</button>
      <button class="btn btn--md btn--gray" type="reset" onclick="window.open('{{request.META.HTTP_REFERER}}', '_self')">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}
