{% extends 'transfers/base.html' %}
{% load util %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-12">

        <div class="box {% if not object.is_active and not object.is_new_account %}box-danger{% else %}box-primary{% endif %}">
            <div class="box-body">
                <form role="form" action="" method="post">
                    {% csrf_token %}

                    {% if request.user.is_manager or request.user.is_superuser %}
                      {% include 'rights/form_fields.html' with field=form.is_active %}
                      {% include 'rights/form_fields.html' with field=form.username %}
                      {% include 'rights/form_fields.html' with field=form.first_name %}
                      {% include 'rights/form_fields.html' with field=form.last_name %}
                    {% endif %}

                    {% include 'rights/form_fields.html' with field=form.email %}

                    {% if request.user.is_manager or request.user.is_superuser %}

                        {% if not object.is_staff %}
                          {% include 'rights/form_fields.html' with field=form.organization %}
                        {% endif %}

                        <div class="form-group">
                            <label>Groups</label>
                            {% for group in form.fields.groups.choices %}
                            <div class="checkbox">
                              <label for="id_groups">
                                <input id="id_groups" name="groups" type="checkbox" value="{{group.0}}" {% if object|has_group:group.1 %}checked="checked"{% endif %}>
                                {{group.1}}
                              </label>
                            </div>
                            {% endfor %}
                        </div>

                    {% endif %}

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
