<div class="box">
  {% if list_type == "org" %}
  <div class="box-header with-border">
    <h2 class="box-title">{{ blk.org.name }}</h2>
  </div>
  {% endif %}
  <div class="box-body">
    {% if not blk.users %}
      <div class="info">There are no users at this organization.</div>
    {% else %}
      <table class="table table-striped" id="org-admin-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Groups</th>
            <th>Last Login</th>
            <th>Org Admin?</th>
            <th>Active?</th>
          </tr>
        <thead>
        <tbody>
        {% for u in blk.users %}
        <tr tabindex="0" data-url="{% url 'users:detail' u.pk %}" class="pointer-row">
          <td>{{u.first_name}} {{u.last_name}}</td>
          <td>{{ u.username }}</td>
          <td>{% for group in u.groups.all %}
            <span class="label label-default">{{ group.name }}</span><br/>
          {% endfor %}</td>
          <td>{{ u.last_login }}</td>
          <td>{% if u.is_org_admin %}Yes{% else %}No{% endif %}</td>
          <td>{% if u.is_active %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
