{% extends 'transfers/login_base.html' %}

{% block content %}
<div class="login-box-body">
  <p class="login-box-msg">Please enter your email address here</p>

  <form action="." method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="form-group has-feedback">
      {{ form }}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger" onclick="window.open('{% url 'login' %}', '_self')">Cancel</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
