.top-button-blk{
	margin-bottom: 20px;
}

.pointer-row{
	cursor: pointer;
}
.pointer-row:hover{
	background-color: #00c0ef;
}

.mar-top20{
	margin-top: 20px;
}
.box-comment-icon{
	width: 30px;
	height: 30px;
	float: left !important;
	display: inline;
}
.box-comments .comment-text{
	margin-left: 50px;
}

.green-bag{
	color: #00a65a;
}
.red-bag{
	color: #dd4b39;
}