@import url('https://fonts.googleapis.com/css?family=Satisfy');

.top-button-blk {
	margin-bottom: 20px;
}

.pointer-row {
	cursor: pointer;
}

.pointer-row:hover {
	background-color: #00c0ef !important;
}

.mar-top20 {
	margin-top: 20px;
}

.mar-top10{
	margin-top: 10px;
}

.box-comment-icon {
	width: 30px;
	height: 30px;
	float: left !important;
	display: inline;
}
.box-comments .comment-text {
	margin-left: 50px;
}

.green-bag {
	color: #00a65a;
}
.red-bag {
	color: #dd4b39;
}

.login-page {
	background: url('/static/img/login-bg.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.login-logo a {
	color: #fff;
}

.login-credit {
	color: #fff;
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}

.login-logo {
	font-family: "Satisfy", cursive;
	font-size: 60px;
}

.main-header .logo {
	font-family: "Satisfy", cursive;
	font-size: 30px;
}

.content-header > .breadcrumb {
	display: block;
	position: relative;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
	background-color: #5ea6d1;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	display: table;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
	margin-bottom: 10px;
	width: 180px;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
	width: 200px;
	padding: 0;
	border: none;
	margin-top: 2px;
}

.container {
    width: 98%;
    margin-left: 15px;
    margin-right: 15px;
}

#welcomeli {
    color: white;
    line-height: 32px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav {
    margin-right: 40px;
}

.modal-body {
    overflow: scroll;
    max-height: 600px;
}
