{% extends 'transfers/base.html' %}
{% load tz static %}

{% block h1_title %}
	Organization Profile
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">

        <div class="box box-{% if object.is_active %}primary{% else %}danger{% endif %}">
            <div class="box-body box-profile">

                <h3 class="profile-username text-center">{{ object.name }}</h3>

                <ul class="list-group list-group-unbordered">
										<li class="list-group-item">
											<b> Active?</b> <span class="pull-right">{% if object.is_active %}yes{% else %}no{% endif %}</span>
                    <li class="list-group-item">
                      <b>Total Uploads</b> <span class="pull-right">{{ uploads_count }}</span>
                    </li>
										<li class="list-group-item">
                      <b>Users</b> <span class="pull-right">{{ object.org_users|length }}</span>
                    </li>
										{% if object.acquisition_type %}
										<li class="list-group-item">
											<b>Acquisition Type</b> <span class="pull-right">{{object.get_acquisition_type_display}}</span>
										</li>
										{% endif %}
                </ul>

                {% if request.user.is_manager or request.user.is_superuser %}
                    <a href="{% url 'orgs-edit' object.pk %}" class="btn btn-{% if object.is_active %}primary{% else %}danger{% endif %} btn-block"><b>edit organization</b></a>
                {% endif %}

            </div>
        </div>

				<div class="box box-{% if object.is_active %}primary{% else %}danger{% endif %}">
						<div class="box-header with-border">
								<h3 class="box-title">Users </h3>
						</div>
						<div class="box-body">
							{% include 'parts/user_table.html' with users=object.active_users switch='Active' %}
							{% include 'parts/user_table.html' with users=object.inactive_users switch='Inactive' %}
						</div>
				</div>

    </div>

    <div class="col-md-9">
      <div class="box box-primary">
          <div class="box-header with-border">
              <h3 class="box-title">Recent Uploads</h3>
          </div>
          <div class="box-body">
            {% include 'parts/transfer_table.html' with org=object %}
          </div>
        </div>
			</div>
		</div>

		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Acquisition Type</h3>
				<div class="box-body">
					<div class="row">
						<div class="col-sm-12">
							{% if object.acquisition_type %}
								<p>{{object.get_acquisition_type_display}}</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="row">
	<div class="col-md-12">
		{% include 'parts/profiles_box.html' %}
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		{% include 'parts/rights_box.html' %}
	</div>
</div>

{% endblock %}

{% block modals %}
	{% include 'rights/modals/confirm_delete.html' %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/delete_object_js.js' %}"></script>
{% endblock %}
