{% extends 'transfers/base.html' %}
{% load tz %}
{% load static %}

{% block h1_title %}
  {{page_title}}
  {% if request.user.is_manager or request.user.is_superuser %}
    <a href="{% url 'orgs:add' %}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Organization</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">

        <table class="table table-striped" id="org-admin-table">
        	<thead>
        		<tr>
        			<th>Name</th>
              <th>Acquisition Type</th>
              <th>Created</th>
              <th>Active?</th>
        		</tr>
        	<thead>
        	<tbody>
        	{% for org in object_list %}
        	<tr tabindex="0" data-url="{% url 'orgs:detail' org.pk %}" class="pointer-row">
        		<td>{{ org.name }}</td>
            <td>{{ org.acquisition_type }}</td>
            <td>{{ org.created_time }}</td>
            <td>{% if org.is_active %}Yes{% else %}No{% endif %}</td>
        	</tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/pointer_row.js' %}"></script>
{% endblock %}
