{% extends 'transfer_app/base.html' %}

{% block h1_title %}{{organization}} BagIt Profile <span class="badge">Version {{form.version.value}}</span>{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-info">
			<div class="box-body">
				<form action="" method="post">
					{% csrf_token %}

					<h3>General Information</h3>

					{{form.management_form}}
					{{form.non_form_errors}}

					{% include 'rights/form_fields.html' %}
					<div class="row">
						<div class="col-md-12">
							<label for="id_{{manifests_formset.prefix}}-0-name">Manifests Required</label>
							{{ manifests_formset.management_form }}
							{{ manifests_formset.non_form_errors }}
							{% for form in manifests_formset %}
								{% include 'orgs/bagit_profiles/repeating_form.html' %}
							{% endfor %}
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<label for="id_{{serialization_formset.prefix}}-0-name">Serializations Accepted</label>
							{{ serialization_formset.management_form }}
							{{ serialization_formset.non_form_errors }}
							{% for form in serialization_formset %}
								{% include 'orgs/bagit_profiles/repeating_form.html' %}
							{% endfor %}
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<label for="id_{{version_formset.prefix}}-0-name">BagIt Versions Accepted</label>
							{{ version_formset.management_form }}
							{{ version_formset.non_form_errors }}
							{% for form in version_formset %}
								{% include 'orgs/bagit_profiles/repeating_form.html' %}
							{% endfor %}
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<label for="id_{{tag_manifests_formset.prefix}}-0-name">Tag Manifests Required</label>
							{{ tag_manifests_formset.management_form }}
							{{ tag_manifests_formset.non_form_errors }}
							{% for form in tag_manifests_formset %}
								{% include 'orgs/bagit_profiles/repeating_form.html' %}
							{% endfor %}
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<label for="id_{{tag_files_formset.prefix}}-0-name">Tag Files Required</label>
							{{ tag_files_formset.management_form }}
							{{ tag_files_formset.non_form_errors }}
							{% for form in tag_files_formset %}
								{% include 'orgs/bagit_profiles/repeating_form.html' %}
							{% endfor %}
						</div>
					</div>

					<h3>Metadata</h3>
					{{ bag_info_formset.management_form }}
					{{ bag_info_formset.non_form_errors }}
					{% for form in bag_info_formset %}
					<div id="{{ form.prefix }}-row" class="{{form.prefix|slice:'-2'}} well dynamic-form">
						{% for hidden in form.hidden_fields %}
					    {{ hidden }}
						{% endfor %}
						<div class="row">
							<div class="col-xs-6">
								{% include 'rights/form_fields.html' %}
							</div>
							<div class="col-xs-6">
								{% if form.nested %}
								<div class="nested-form">
									{{ form.nested.management_form }}
									{{ form.nested.non_form_errors }}
									<a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row btn btn-sm btn-danger pull-right {% if forloop.first %} hidden{% endif %}" data-target="{{form.prefix|slice:'-2'}}"><i class="fa fa-times"></i> Delete Field</a>
									<label>Values</label>
									{% for form in form.nested.forms %}
										{% for hidden in form.hidden_fields %}
								    	{{ hidden }}
										{% endfor %}
						        {% include 'orgs/bagit_profiles/repeating_form.html' %}
					        {% endfor %}
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<a href="javascript:void(0)" class="add-row btn btn-sm btn-default" data-target="{{form.prefix|slice:'-2'}}"><i class="fa fa-plus"></i> Add Metadata Field</a>
					{% endfor %}

				<div class="row mar-top20">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary">Submit</button>
						<a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  function updateElementIndex(el, prefix, ndx) {
		var id_regex = new RegExp('(' + prefix + '-\\d+)');
		var replacement = prefix + '-' + ndx;
		if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		if (el.id) el.id = el.id.replace(id_regex, replacement);
		if (el.name) el.name = el.name.replace(id_regex, replacement);
		if ($(el).attr('data-target')) $(el).attr('data-target', $(el).attr('data-target').replace(id_regex, replacement));
	}
  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    var row = $(btn).prev('.dynamic-form').clone(true).get(0);
		updateElementIndex(row, prefix, formCount)
    $(row).insertAfter($(btn).prev('.dynamic-form')).find('.hidden').removeClass('hidden');
		$(row).find('[name^='+prefix+']').each(function() {
	    updateElementIndex(this, prefix, formCount);
	    $(this).filter('[type!=hidden]').val('');
    });
		if ($(row).find('.nested-form').length) {
			var nestedForm = $(row).find('.nested-form');
			var nestedPrefix = 'nested_'+prefix
			$(nestedForm).find('div.dynamic-form:not(:first)').remove();
			$(nestedForm).find('div.dynamic-form').find('.delete-row').addClass('hidden')
			$(nestedForm).find('[name^='+nestedPrefix+']').each(function() {
				updateElementIndex(this, nestedPrefix, formCount);
				$(this).filter('[type!=hidden]').val('');
			});
			$(row).find('[id^='+nestedPrefix+']').each(function() {
				updateElementIndex(this, nestedPrefix, formCount);
			});
			updateElementIndex($(nestedForm).find('.add-row'), nestedPrefix, formCount)
			updateElementIndex($(nestedForm), nestedPrefix, formCount)
			$(nestedForm).find('#id_' + nestedPrefix + '-TOTAL_FORMS').val(1)
		}
    $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
		if (parseInt($('#id_' + prefix + '-TOTAL_FORMS').val()) >= parseInt($('#id_' + prefix + '-MAX_NUM_FORMS').val())) {
			$(btn).attr("disabled", "disabled");
		}
  }
  function deleteForm(btn, prefix) {
    $(btn).closest('.dynamic-form').remove()
    var forms = $('.'+prefix);
    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
    for (var i=0, formCount=forms.length; i<formCount; i++) {
	    $(forms.get(i)).find('[name^='+prefix+']').each(function() {
	        updateElementIndex(this, prefix, i);
					if ($(forms.get(i)).children('.nested-form').length) {
						$(forms.get(i)).children('.nested-form').find('#id_nested_' +prefix + '-TOTAL_FORMS').val($(forms.get(i)).children('.nested-form').length)
						$(forms.get(i)).find('[name^=nested_]').each(function() {
							updateElementIndex(this, 'nested_'+prefix, i);
						});
					}
	    });
    }
		if (parseInt($('#id_' + prefix + '-TOTAL_FORMS').val()) < parseInt($('#id_' + prefix + '-MAX_NUM_FORMS').val())) {
			$('.add-row[data-target='+prefix+']').removeAttr("disabled");
		}
  }
  $(document).ready(function() {
		$('input[name$=-TOTAL_FORMS]').each(function(){
			var formPrefix = $(this).attr('name').substr(0, $(this).attr('name').indexOf('-TOTAL_FORMS'))
			if (parseInt($(this).val()) >= parseInt($('input[name='+formPrefix+'-MAX_NUM_FORMS]').val())) {
				$('.add-row[data-target='+formPrefix+']').attr("disabled", "disabled");
			} else {
				$('.add-row[data-target='+formPrefix+']').removeAttr("disabled");
			}
		});
    $('.add-row').on('click', function() {
			if (!($(this).attr('disabled'))) {
				addForm(this, $(this).attr('data-target'));
			}
    });
    $('.delete-row').on('click', function() {
	    deleteForm(this, $(this).attr('data-target'));
    })
  });
</script>
{% endblock %}
