{% extends 'transfers/base.html' %}

{% block h1_title %}{{page_title}}{% endblock %}

{% block content %}
<div class="box box-primary">
  <form method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
    <div class="box-body">
      {% for field in form.visible_fields %}
       {% include 'rights/form_fields.html' %}
      {% endfor %}
    </div>
    <div class="box-footer">
      <button class="btn btn-primary" type="submit">Save changes</button>
      <button class="btn btn-danger" type="reset" onclick="window.open('{{request.META.HTTP_REFERER}}', '_self')">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}
