{% extends 'transfers/base.html' %}

{% block h1_title %}{{organization}} <small>PREMIS Rights Statement</small>{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3>Rights Basis</h3>
        <form role="form" action="" method="post">
          {% csrf_token %}
          <div class="box-body">
            {{ basis_form.management_form }}
            {{ basis_form.non_form_errors }}
            {% include 'rights/form_fields.html' with form=basis_form %}
            {% for field in basis_form.hidden_fields %}
              {{field}}
            {% endfor %}
            <div id="copyright_formset">
              {{ copyright_form.management_form }}
              {{ copyright_form.non_form_errors }}
              {% for form in copyright_form %}
                {% include 'rights/form_fields.html' with form=form %}
              {% endfor %}
            </div>
            <div id='license_formset'>
              {{ license_form.management_form }}
              {{ license_form.non_form_errors }}
              {% for form in license_form %}
                {% include 'rights/form_fields.html' with form=form %}
              {% endfor %}
            </div>
            <div id='statute_formset'>
              {{ statute_form.management_form }}
              {{ statute_form.non_form_errors }}
              {% for form in statute_form %}
                {% include 'rights/form_fields.html' with form=form %}
              {% endfor %}
            </div>
            <div id='other_formset'>
              {{ other_form.management_form }}
              {{ other_form.non_form_errors }}
              {% for form in other_form %}
                {% include 'rights/form_fields.html' with form=form %}
              {% endfor %}
            </div>
            {% if granted_formset %}
            <p>{% include 'rights/rights_basis_info.html' with object=rights_statement %}</p>
            <h3>Rights Granted or Restricted</h3>
              {{ granted_formset.non_form_errors }}
              {{ granted_formset.management_form }}
              {% for form in granted_formset %}
                <div id="{{ form.prefix }}-row" class="dynamic-form">
                  <div id='granted_formset' class="well">
                    <div class="row{% if forloop.first %} hidden{% endif %}">
                      <div class="col-xs-12">
                        <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row btn btn-sm btn-danger pull-right"><i class="fa fa-times"></i> Delete Rights Granted or Restricted</a>
                      </div>
                    </div>
                    {% include 'rights/form_fields.html' with form=form %}
                </div>
              </div>
        	    {% endfor %}
              <div>
      	        <a href="javascript:void(0)" class="add-row btn btn-sm btn-default"><i class="fa fa-plus"></i> Add Rights Granted or Restricted</a>
      	       </div>
            {% endif %}
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <a type="reset" class="btn btn-danger" href="{% url 'orgs-detail' organization.pk %}">Cancel</a>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  // logic to show appropriate subform
  function revealSelectedBasis() {
    var basis = $('#id_rights_basis').val()
    var formsets = {
        'Copyright': 'copyright_formset',
        'Statute':   'statute_formset',
        'License':   'license_formset',
        'Other':     'other_formset'
    }

    // hide all formsets except basis
    for (var key in formsets) {
      if (key != basis && formsets[key]) {
        $('#' + formsets[key]).hide();
      }
    }

    // if basis has a formset, show it
    if (formsets[basis]) {
      $('#' + formsets[basis]).show();
    }
  }

  function updateElementIndex(el, prefix, ndx) {
		var id_regex = new RegExp('(' + prefix + '-\\d+)');
		var replacement = prefix + '-' + ndx;
		if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		if (el.id) el.id = el.id.replace(id_regex, replacement);
		if (el.name) el.name = el.name.replace(id_regex, replacement);
	}

  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    var row = $('.dynamic-form:first').clone(true).get(0);
    updateElementIndex(row, prefix, formCount)
    $(row).insertAfter($('.dynamic-form:last')).children().children('.hidden').removeClass('hidden');
    $(row).find('[name^='+prefix+']').each(function() {
	    updateElementIndex(this, prefix, formCount);
	    $(this).val('');
    });
    $(row).find('.delete-row').click(function() {
	    deleteForm(this, prefix);
    });
    $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
  }

  function deleteForm(btn, prefix) {
    form = $(btn).closest('.dynamic-form')
		inputPrefix = $(form).attr('id').substr(0, $(form).attr('id').indexOf('-row'))
		$(form).children().append('<input type="hidden" name="'+inputPrefix+'-DELETE" id="id_'+inputPrefix+'-DELETE" value="true">').hide()
    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
  }

  $(document).ready(function() {
    // active formset changer
    $('#id_rights_basis').change(revealSelectedBasis);
    revealSelectedBasis();

    $('.add-row').click(function() {
	    return addForm(this, 'rightsstatementrightsgranted_set');
    });
    $('.delete-row').click(function() {
	    return deleteForm(this, 'rightsstatementrightsgranted_set');
    })

  });
</script>
{% endblock %}
