<div class="modal-dialog">
  <div class="modal-content">
    <form id="appraisal-note-form" method='post' class="form" role="form" action='{% url 'accept-transfer' object.id %}'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{% if object.appraisal_note %}Edit{% else %}Add{% endif %} appraisal note for {{ object.bag_it_name }}</h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <ul class="form-errors">
                    {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <input type="cancel" class="btn btn-danger" data-dismiss="modal" name="Cancel"/>
        <input type="submit" class="btn btn-primary" name="Submit"/>
      </div>
    </form>
  </div>
</div>
