{% extends 'transfer_app/base.html' %}

{% block h1_title %}Appraisal Queue <small>{{uploads|length}} transfers</small>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">
       {% if not uploads %}
				<div>No transfers to appraise</div>
			 {% else %}
				<table id="appraise_table" class="table table-bordered dataTable">
					<thead>
						<tr>
							<th>Transfer File Name</th>
              <th>Organization</th>
							<th>Record Creator</th>
							<th>Record Type</th>
							<th>Transfer Date</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
					{% for upload in uploads %}
						<tr>
              <td><a href="{% url 'transfer-detail' upload.pk %}">{{ upload.bag_or_failed_name }}</a></td>
              <td>{{ upload.source_organization }}</td>
							<td>{{ upload.record_creator }}</td>
							<td>{{ upload.record_type }}</td>
							<td>{{ upload.machine_file_upload_time }}</td>
							<td>
                <button type="button" class="btn btn-xs btn-danger">
                    Reject
                </button>
                <a type="button" class="btn btn-xs btn-primary">
                    Accept
                </a>
                <a type="button" class="appraisal-note btn btn-xs btn-secondary" data-toggle="modal" data-target="#modal-appraisal-note" data-form="{% url 'appraise-note' upload.pk %}" >
                    {% if upload.appraisal_note%}Edit{% else %}Add{% endif %} Note
                </a>
              </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-appraisal-note"></div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(function () {
    $('#appraise_table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'pageLength'  : 25
    })
  })
</script>

<script>
    $(".appraisal-note").click(function(e) {
        e.preventDefault();
        var url = $(this).data("form");
        $("#modal-appraisal-note").load(url, function() {
            $(this).modal('show');
        });
        return false;
    });

    $('#appraisal-note-form').live('submit', function() {
        $.ajax({
            type: $(this).attr('method'),
            url: this.action,
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                console.log("success!")
                console.log(data)
                console.log(status)
                $('#modal-appraisal-note').html(data);
                //destroy modal
                setTimeout(function() { $('#modal-appraisal-note').modal('hide'); }, 1000);
                $('body').on('hidden.bs.modal', '.modal', function () {
                  $(this).removeData('bs.modal');
                });
            }
        });
        return false;
    });
</script>
{% endblock %}
