{% extends 'transfer_app/base.html' %}

{% block h1_title %}Appraisal Queue <small>{{uploads|length}} transfers</small>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">
       {% if not uploads %}
				<div>No transfers to appraise</div>
			 {% else %}
				<table id="appraise_table" class="table table-bordered dataTable">
					<thead>
						<tr>
							<th>Transfer File Name</th>
              <th>Organization</th>
							<th>Record Creators</th>
							<th>Record Type</th>
							<th>Transfer Date</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
					{% for upload in uploads %}
						<tr class="upload-row" rel="{{ upload.pk }}">
              <td><a href="{% url 'transfer-detail' upload.pk %}" class="bag-name">{{ upload.bag_or_failed_name }}</a></td>
              <td>{{ upload.source_organization }}</td>
							<td>{{ upload.record_creator }}</td>
							<td>{{ upload.record_type }}</td>
							<td>{{ upload.machine_file_upload_time }}</td>
							<td>
                {% if request.user.can_appraise or request.user.is_superuser %}
                <a type=button class="btn btn-xs btn-primary appraisal-accept" href="#">
                  Accept
                </a>
                <a type="button" class="btn btn-xs btn-danger appraisal-reject" href="#">
                  Reject
                </a>
                <a type="button" class="appraisal-note btn btn-xs btn-{% if upload.appraisal_note %}info edit-note{% else %}default{% endif %} " data-toggle="modal" data-target="#modal-appraisal-note" rel="{{ upload.pk }}">
                    {% if upload.appraisal_note%}Edit{% else %}Add{% endif %} Note
                </a>
                {% endif %}
              </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-appraisal-note">
  {% include 'appraise/edit_note.html' %}
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var amodal = $("#modal-appraisal-note");
var url = '{% url 'appraise-main' %}';
var appraise_table = '';

  $(function () {
    appraise_table = $('#appraise_table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'pageLength'  : 25
    })


    $(".appraisal-note").click(function(e) {
        e.preventDefault();

        var bag_name = $(this).parent().parent().find('.bag-name').text();
        var upload_id = $(this).attr('rel');

        if (!$(this).hasClass('edit-note')){
          activateModal(upload_id, 'Add', bag_name);
          return false;
        }

        var data = {
          'req_type' : 'edit',
          'req_form' : 'appraise',
          'upload_id': upload_id
        };

        $.get(url,data, function(resp){
          if (resp.success){
            activateModal(upload_id,'Edit',bag_name,resp.appraisal_note);
          } else {
            alert('Something went wrong.. Please try again..');
          }
        });

        return false;
    });

    $('#appraisal-note-form').submit(function(e){
      e.preventDefault();
      var frm = $(this)
      var data = {
        'upload_id': frm.find('.upload_id').val(),
        'appraisal_note': frm.find('.appraisal_note').val(),
        'req_form' : 'appraise',
        'req_type' : 'submit'
      }

      //empty check, no need to submit
      if (data.appraisal_note.length < 2){
        alert('Note is too short!');
        return false;
      }

      //AJAX submit
      $.get(url,data,function(resp){
        if (resp.success){
          amodal.modal('hide');
          resolveRowCallback(data.upload_id);
        }
      });

      return false;
    });

    $('.appraisal-accept, .appraisal-reject').click(function(e){
      e.preventDefault();
      var upload_row = $(this).closest('.upload-row');
      var upload_id = upload_row.attr('rel');
      var appraisal_decision = 0; // reject
      if ($(this).hasClass('appraisal-accept')){
        appraisal_decision = 1; //accept
      }
      var data = {
        'req_form': 'appraise',
        'req_type': 'decision',
        'upload_id': upload_id,
        'appraisal_decision': appraisal_decision
      }

      $.get(url, data, function(resp){
        if (resp.success){
          // remove row
          appraise_table.row( upload_row ).remove().draw();

        } else {
          alert('Something went wrong.. Please try again..');
        }
      });

    });

  })

var activateModal = function(uid,label,bag_name,appraisal_note){
  // setups up and opens modal
  amodal.find('.upload_id').val(uid);
  amodal.find('.add-or-edit-label').text(label);
  amodal.find('.bag-name').text(bag_name);
  amodal.find('.appraisal_note').val(appraisal_note);
  amodal.modal('show');
}

var resolveRowCallback = function(uid){
  $('.appraisal-note').each(function(){
    if ($(this).attr('rel') == uid){

      $(this).text('Edit Note');
      $(this).removeClass('btn-default');
      $(this).addClass('btn-info').addClass('edit-note');
    }
  });
}


</script>
{% endblock %}
