name: update dependencies
on:

  schedule:
    - cron:  '0 0 1 * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: development

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip

      - name: Install pre-commit and pip-tools
        run: pip install pre-commit pip-tools

      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate
      
      - name: Run pip-compile
        run: pip-compile --upgrade
      
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: development
          branch: dependency-updates
          delete-branch: true
          title: Dependency Updates
          commit-message: Dependency updates
