{% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr rel="{{ object.pk }}">
        <td>{{object.bagit_profile_identifier}} <span class="badge badge--orange badge__bagit-version">Version {{object.version}}</span></td>
        <td>
          <a href="{% url 'bagit-profiles:detail' pk=object.pk %}" class="btn btn--xs btn--light-blue">View</a>

          {% if request.user.is_manager or request.user.is_superuser %}
            <a href="{% url 'bagit-profiles:edit' pk=object.pk %}" class="btn btn--blue btn--xs">Edit</a>
            <a href="{% url 'bagit-profiles:api' object.pk 'delete' %}" class="btn btn--orange btn--xs object-delete-button" data-object="bagit-profile">Delete</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No BagIt Profile for this organization.</p>
{% endif %}

