<div class="box box-primary">
	<div class="box-header with-border">
		<h2 class="box-title">BagIt Profiles</h2>
		{% if request.user.is_manager or request.user.is_superuser and not object.profile.all %}
		<a href="{% url 'bagit-profiles:add' %}?org={{object.pk}}" class="bagit-profile-add btn btn-primary pull-right">
			<i class="fa fa-plus"></i> Add BagIt Profile</a>
		{% endif %}
	</div>
	<div class="box-body {% if object.bagit_profiles %}no-padding{% endif %}">
		{% include 'parts/bagit_profiles_table.html' with object_list=object.profile.all %}
	</div>
</div>
