<div class="recent-transfers">
  <div class="recent-transfers__icon">
    <div class="material-icon dashboard__icon icon--{% if upload.process_status == 20 %}undefined{% elif upload.process_status == 30 %}red{% else %}green{% endif %}"
    aria-hidden="true">inventory</div>
  </div>
  <div class="recent-transfers__text">
    <a href="{% url 'transfers:detail' pk=upload.pk %}">
        {{ upload.bag_or_failed_name }}
    </a>
    <span class="recent-transfers__date">{{ upload.created_time }}</span>
    <p>
      Transfer by {{ upload.organization.name }}  
      {% if upload.process_status == 20 %}
        is in progress.
      {% elif upload.process_status == 30 %}
        failed validation.
      {% else %}
        passed validation.
      {% endif %}
    </p>
  </div>
</div>
