<div class="recent-transfers">
  <div class="recent-transfers__icon">
    <div class="material-icon dashboard__icon {% if upload.bag_it_valid %}icon--green{% else %}icon--red{% endif %}" aria-label="{% if upload.bag_it_valid %}valid{% else %}invalid{% endif %} transfer">inventory</div>
  </div>
  <div class="recent-transfers__text">
    <a href="{% url 'transfers:detail' pk=upload.pk %}">
        {{ upload.bag_or_failed_name }}
    </a>
    <span class="recent-transfers__date">{{ upload.created_time }}</span>
    <p>
      {% if upload.bag_it_valid %}Transfer successful{% else %}Transfer Failed{% endif %}
    </p>
  </div>
</div>
